section.about 
    .about__container.container
        .about__text-wrapper
            h2 О сервисе
            p Любое путешествие веселее с&nbsp;попутчиками, которые на&nbsp;одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в&nbsp;чужих. 
            p А если найдете кого-то близкого по духу&nbsp;- скорее зовите в совместный трип!
            button(type="button").btn
                span Подробнее
                +icon("arrow", 14,14)
        .about__img
            .about__img-desktop
                +picture("content", "about-img-bg","png",655,665,"")
            .about__img-tablet
                +picture("content", "about-img-bg-tab","png",368,546,"")
            .about__img-mobile
                +picture("content", "about-img-bg-mob","png",292,353,"")

