section.about 
    .about__container.container
        .about__text-wrapper
            h2 О сервисе
            p Любое путешествие веселее с попутчиками, которые на&nbsp;одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих. 
            p А если найдете кого-то близкого по духу - скорее зовите в совместный трип!
            button(type="button").btn
                span Подробнее
                +icon("arrow", 14,14)
        .about__img 
            +picture("content", "about-img-bg","png",655,665,"")

