mixin countries-filter()
    - 
        const alphabetList = [
            { letter: 'А', countries: ['Австралия', 'Австрия', 'Азербайджан', 'Албания', 'Алжир', 'Ангола', 'Андорра', 'Антигуа и Барбуда', 'Аргентина', 'Армения', 'Афганистан'] },
            { letter: 'Б', countries: ['Багамские Острова', 'Бангладеш', 'Барбадос', 'Бахрейн', 'Белоруссия', 'Белиз', 'Бельгия', 'Бенин', 'Болгария', 'Боливия', 'Босния и Герцеговина', 'Ботсвана', 'Бразилия', 'Бруней', 'Буркина-Фасо', 'Бурунди', 'Бутан'] },
            { letter: 'В', countries: ['Вануату', 'Великобритания', 'Венгрия', 'Венесуэла', 'Восточный Тимор', 'Вьетнам'] },
            { letter: 'Г', countries: ['Габон', 'Гаити', 'Гайана', 'Гамбия', 'Гана', 'Гватемала', 'Гвинея', 'Гвинея-Бисау', 'Германия', 'Гондурас', 'Гренада', 'Греция', 'Грузия'] },
            { letter: 'Д', countries: ['Дания', 'Джибути', 'Доминика', 'Доминикана'] },
            { letter: 'Е', countries: ['Египет'] },
            { letter: 'З', countries: ['Замбия', 'Зимбабве'] },
            { letter: 'И', countries: ['Израиль', 'Индия', 'Индонезия', 'Иордания', 'Ирак', 'Иран', 'Ирландия', 'Исландия', 'Испания', 'Италия'] },
            { letter: 'К', countries: ['Кабо-Верде', 'Казахстан', 'Камбоджа', 'Камерун', 'Канада', 'Катар', 'Кения', 'Кипр', 'Киргизия', 'Кирибати', 'Китай', 'Колумбия'] },
            { letter: 'Л', countries: ['Лаос', 'Латвия', 'Лесото', 'Либерия', 'Ливан', 'Ливия', 'Литва', 'Лихтенштейн', 'Люксембург'] },
            { letter: 'М', countries: ['Маврикий', 'Мавритания', 'Мадагаскар', 'Малави', 'Малайзия', 'Мали', 'Мальдивы', 'Мальта', 'Марокко'] },
            { letter: 'Н', countries: ['Намибия', 'Науру', 'Непал', 'Нигер', 'Нигерия', 'Нидерланды', 'Никарагуа', 'Новая Зеландия', 'Норвегия'] },
            { letter: 'О', countries: ['ОАЭ', 'Оман'] },
            { letter: 'П', countries: ['Пакистан', 'Палау', 'Панама', 'Папуа - Новая Гвинея', 'Парагвай', 'Перу', 'Польша', 'Португалия'] },
            { letter: 'Р', countries: ['Руанда', 'Румыния', 'Россия'] },
            { letter: 'С', countries: ['Сальвадор', 'Самоа', 'Сан-Марино', 'Саудовская Аравия', 'Сейшелы', 'Сенегал', 'Сербия', 'Сингапур', 'Сирия', 'Словакия', 'Словения', 'США'] },
            { letter: 'Т', countries: ['Таджикистан', 'Таиланд', 'Танзания', 'Того', 'Тонга', 'Тринидад и Тобаго', 'Тувалу', 'Тунис', 'Туркмения', 'Турция'] },
            { letter: 'У', countries: ['Уганда', 'Узбекистан', 'Украина', 'Уругвай'] },
            { letter: 'Ф', countries: ['Фиджи', 'Филиппины', 'Финляндия', 'Франция'] },
            { letter: 'Х', countries: ['Хорватия'] },
            { letter: 'Ч', countries: ['Чад', 'Черногория', 'Чехия', 'Чили'] },
            { letter: 'Ш', countries: ['Швейцария', 'Швеция', 'Шри-Ланка'] },
            { letter: 'Э', countries: ['Эквадор', 'Эритрея', 'Эсватини', 'Эстония', 'Эфиопия'] },
            { letter: 'Ю', countries: ['ЮАР', 'Южный Судан'] },
            { letter: 'Я', countries: ['Ямайка', 'Япония'] }
        ]

    section.countries-filter
        .countries-filter__container.container
            .countries-filter__buttons
                button(type="button")
                    span Фильтрация по странам
                ul 
                    li 
                        button(type="button") Европа
                    li 
                        button(type="button") Азия
                    li 
                        button(type="button") Америка
                    li 
                        button(type="button") Острова
            ul.countries-filter__list
                each item in alphabetList
                    li.countries-filter__item
                        h3= item.letter
                        ul
                            each country in item.countries
                                li= country
            button(type="button") Свернуть