section.direction
    .direction__slide-wrapper
        ul.direction__slide-list
            li.direction__item
                .direction__item-text
                    h3 Таиланд
                    p Джунгли зовут!
                    +icon('direction-icon',20,20)
                    span 
    .direction__text-wrapper
        h2 Направления
        p 
            | Мы не продаем туры и ничего не рекламируем. 
            | Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.
        button(type="button").btn
            span Подробнее
            +icon("arrow", 14,14)

  

