section.direction
    .direction__container.container
        .direction__slide-wrapper.container
            .direction__slider
                ul.direction__slide-list
                    li.direction__item
                        .direction__text-wrapper 
                            .direction__item-text
                                h3 Таиланд
                                p Джунгли зовут!
                            .direction__count
                                +icon('direction-icon',20,20)
                                span 18321
                        .direction__img
                            +picture("content", "thailand-img","png",202,152,"")
                            +picture("content", "thailand-flag","png",76,47,"")
                    li.direction__item
                        .direction__text-wrapper 
                            .direction__item-text
                                h3 Франция
                                p Трэ бьен, манифик!
                            .direction__count
                                +icon('direction-icon',20,20)
                                span 12518
                        .direction__img
                            +picture("content", "france-img","png",202,152,"")
                            +picture("content", "france-flag","png",70,47,"")
                    li.direction__item
                        .direction__text-wrapper 
                            .direction__item-text
                                h3 Чехия
                                p Закоулки старой Европы
                            .direction__count
                                +icon('direction-icon',20,20)
                                span 5326
                        .direction__img
                            +picture("content", "czech-img","png",202,152,"")
                            +picture("content", "czech-flag","png",70,47,"")
        .direction__content-wrapper.container
            h2 Направления
            p Мы не продаем туры и ничего не рекламируем. <br>Люди сами пишут о&nbsp;странах, куда хотели бы отправиться и чем можно там заняться.
        .direction__button 
            a(href="catalog.html").btn
                span Показать все
                +icon("arrow", 14,14)
