section.hero
    .hero__img-bg
        +picture("content", "hero-bg","png",1440, 750,"")
    .hero__img
        +picture("content", "hero-img","png", 431, 640,"")
    .hero__container.container
        h2.visually-hidden Путешествия с попутчиками
        p.hero__slogan В путешествие<br>с крутыми<br>попутчиками!
        ul.hero__card-list
            li.hero__card
                .hero__card-wrapper
                    span 1
                    p Выберите<br>направление
            li.hero__card 
                .hero__card-wrapper
                    span 2
                    p Изучите идеи<br>путешественников
            li.hero__card 
                .hero__card-wrapper
                    span 3
                    p Находите тех,<br> кто похож на вас
            li.hero__card  
                .hero__card-wrapper
                    span 4
                    p Путешествуйте<br>вместе!
            