section.hero
    .hero__img-bg
        +picture("content", "hero-bg","png",1440, 750,"")
    .hero__img
        +picture("content", "hero-img","png", 431, 640,"")
        //- +picture("content", "hero-img-tablet","png", 437, 530,"")
        +picture("content", "hero-img-mob","png", 437, 530,"")
    .hero__container.container
        h2.visually-hidden Путешествия с попутчиками
        p.hero__slogan В путешествие<br>с крутыми<br>попутчиками!
        ol.hero__card-list
            li.hero__card
                    p Выберите<br>направление
            li.hero__card 
                    p Изучите идеи<br>путешественников
            li.hero__card 
                    p Находите тех,<br> кто похож на вас
            li.hero__card  
                    p Путешествуйте<br>вместе!
            