section.prifile 
    .profile__container.container 
        h2 Добавьте свой профиль
        .profile__advantages 
            ol.advantages__list 
                li Базовое размещение
                li Вывод на первых позициях
                li Кастомный цвет карточки
                