section.profile 
    .profile__container.container 
        h2 Добавьте свой профиль
        .profile__advantages 
            ol.profile__advantages-list 
                li Базовое размещение
                li Вывод на первых позициях
                li Кастомный цвет карточки
        .profile__price
            .profile__price-text
                p бесплатно
                ul 
                    li 99 руб./мес
                    li 59 руб./мес
            +picture("content", "rates", "png", 200,202,"")
        button(type="button")
            span 
                +icon("icon-businessman", 28,28)
            p Показать тарифы для бизнеса


