.about {
    background-color: $color-midnight-express;
    padding-top: 130px;
    margin-top: -50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        color: $color-default-white;
    }

    &__img {
        
        margin-top: auto;

        img {
            height: 100%;
            object-fit: cover;
            object-position: bottom center;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 95px;
        line-height: 95px;
        font-variant: all-small-caps;
        margin: 0;
        margin-bottom: 19px;
    }

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 137%;
        margin: 0;
        margin-bottom: 18px;
    }

    p:last-of-type {
        width: 70%;
        font-family: "Roboto Condensed";
        font-weight: 300;
        font-size: 21px;
        line-height: 119%;
        margin-top: 58px;
    }

    button {
        margin-top: 137px;
        margin-bottom: 163px;
    }

}