.about {
    position: relative;
    background-color: $color-midnight-express;
    padding-top: 148px;
    margin-top: -55px;
    padding-left: 12px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 9;
    
    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 11px;
        color: $color-default-white;

        @include vp-1023 {
            position: relative;
            grid-template-columns: 1fr;
            gap: 0;
            z-index: 1;
        }
    }

    &__img {
        align-self: flex-end;


        picture:first-child img {
            position: relative;
            right: 25px;

            object-fit: cover;

            @include vp-1023 {
                display: none;
            }
        }

        picture:last-child img {
            display: none;

            @include vp-1023 {
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                z-index: 0;
            }

            @include vp-767 {
                display: none;
            }
        }
    }

    h2 {
        font-weight: 700;
        font-size: 95px;
        line-height: 44px;
        font-variant: all-small-caps;
        margin: 0;
        margin-bottom: 34px;

        @include vp-767 {
            font-size: 50px;
            line-height: 50px;
        }
    }

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 137%;
        margin: 0;
        margin-bottom: 18px;

        @include vp-1023 {
            width: 60%;
        }

        @include vp-767 {
            width: 100%;
            font-size: 14px;
            line-height: 157%;
        }
    }

    p:last-of-type {
        width: 75%;
        font-family: "Roboto";
        font-weight: 200;
        font-size: 22px;
        line-height: 119%;
        margin-top: 58px;

        @include vp-1023 {
            width: 49%;
        }

        @include vp-767 {
            width: 100%;
            font-size: 14px;
            line-height: 157%;
        }
    }

    button {
        margin-top: 116px;
        @include vp-767 {
            margin-top: 50px;
            gap: 45px;
        }
    }

}