.btn {
  display: inline-flex;
  gap: 80px;
  align-items: center;
  padding: 28px 32px;
  margin-bottom: 10px;
  color: $color-catalina-blue;
  background-color: $color-pale-cornflower-blue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in, opacity 0.3s ease-in, transform 0.3s ease-in;

  span {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }

  &:hover {
    background-color: $color-picton-blue;
  }

  &:hover svg {
    transform: rotate(360deg);
  }

  &:active span,
  &:active svg {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}