.card {
    background-color: $color-default-white;
    border-radius: 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    ul {
        @include list-reset;
    }

    &__hashtags  {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    &__types {
        display: flex;
        gap: 14px;
    }
}