.card {
    min-height: 483px;
    min-width: 285px;
    display: grid;
    grid-template-rows: 268px 1fr;
    background-color: $color-default-white;
    border-radius: 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    ul {
        @include list-reset;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        padding-top: 51px;
        padding-bottom: 24px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h3 {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: $color-catalina-blue;
        margin: 0;
    }

    &__hashtags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 6px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            text-align: center;
            color: $color-charcoal;
        }
    }
    &__countries {
        position: absolute;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        top: -10px;

        p {
            display: none;
        }
    }
    &__transport {
        display: flex;
        gap: 14px;
    }

    &__img-wrapper {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--online h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #81E31E;
    }

    &--offline h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #F97676;
    }
}