.card {
    position: relative;
    min-height: 483px;
    max-width: 285px;
    display: grid;
    grid-template-rows: 265px 1fr;
    background-color: $color-default-white;
    border-radius: 21px;
    transition: transform 0.3s ease-in;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    @include vp-1279 {
        max-width: 250px;
    }

    @include vp-1089 {
        max-width: 230px;
    }

    @include vp-1023 {
        max-width: 285px;
    }


    @include vp-767 {
        grid-template-rows: 270px 1fr;
        border-radius: 10px;
        width: 270px;
        overflow: hidden;
        min-height: unset;
    }


    &:hover {
        box-shadow: 0 4px 20px 0 rgba(255, 254, 254, 0.5);

        img {
            transform: scale(1.05);
        }
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        padding-top: 48px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;

        @include vp-767 {
            padding-top: 30px;
            gap: 10px;
        }
    }

    h3 {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: $color-catalina-blue;
        margin: 0;
        cursor: pointer;

        @include vp-767 {
            font-size: 21px;
            line-height: 100%;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__hashtags {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            text-align: center;
            color: $color-charcoal;

            @include vp-767 {
                font-size: 16px;
                line-height: 112%;
            }
        }
    }

    &__countries {
        @include list-reset;
        position: absolute;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        top: -10px;

        p {
            display: none;
        }
    }

    &__transport {
        @include list-reset;
        display: flex;
        gap: 10px;

        li {
            position: relative;

            svg {
                opacity: 0.15;
            }

            &.is-active {
                svg {
                    opacity: 1;
                }
            }

            &:before {
                position: absolute;
                content: attr(data-tooltip);
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                padding: 14px 18px;
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                text-align: center;
                background-color: #101D41;
                color: $color-default-white;
                opacity: 0;
            }

            &::after {
                position: absolute;
                content: "";
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                width: 16px;
                height: 10px;
                background-color: #101D41;
                clip-path: polygon(50% 0, 0 100%, 100% 100%);
                opacity: 0;
            }

            &:hover {

                &::before,
                &::after {
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
        }
    }

    &__img-wrapper {
        width: 285px;
        overflow: hidden;
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
        overflow: hidden;

        @include vp-1279 {
            width: 100%;
        }

        @include vp-767 {
            border-radius: 11px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--online h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #81E31E;
    }

    &--offline h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #F97676;
    }

    &__level {
        position: absolute;
        top: 17px;
        left: 22px;
    }

    &__divider {
        width: 60px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
    }


}