.card {
    position: relative;
    min-height: 483px;
    min-width: 285px;
    display: grid;
    grid-template-rows: 265px 1fr;
    background-color: $color-default-white;
    border-radius: 21px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    ul {
        @include list-reset;
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 23px;
        padding-top: 48px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    h3 {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: $color-catalina-blue;
        margin: 0;
    }

    &__hashtags {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 4px;

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            text-align: center;
            color: $color-charcoal;
        }
    }

    &__countries {
        position: absolute;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        top: -10px;

        p {
            display: none;
        }
    }

    &__transport {
        display: flex;
        gap: 10px;
    }

    &__img-wrapper {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--online h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #81E31E;
    }

    &--offline h3::before {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        border-radius: 100%;
        background-color: #F97676;
    }

    &__level-wrapper {
        position: absolute;
        top:17px;
        left: 22px;
    }

    &__big-circle {
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: black;
        overflow: hidden;
        z-index: 0;
    }

    &__level {
        position: relative;
        width: 60px;
        height: 60px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 2;
        background: conic-gradient(#3498db 0% var(--level), transparent var(--level) 100%);
    }

    &__circle {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: black;
        z-index: 2;
    }

    &__number {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        line-height: 1;
        color: $color-default-white;
    }

    &__label {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: $color-default-white;

    }

    &__divider {
        width: 60px;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
    }


}