.catalog-title {
    position: relative;
    background-color: $color-midnight-express;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    z-index: 3;

    @include vp-767 {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__container {
        position: relative;
        padding-top: 244px;
        padding-bottom: 86px;

        @include vp-767 {
            padding-top: 108px;
            padding-bottom: 24px;

        }

        &::after {
            position: absolute;
            bottom: -5px;
            bottom: 0px;
            left: 8vw;
            content: "";
            width: 164px;
            height: 4px;
            border-radius: 4px;
            background-color: $color-picton-blue;
        }

    }

    h1 {
        font-weight: 700;
        font-size: 60px;
        line-height: 33%;
        font-variant: all-small-caps;
        color: $color-default-white;
        margin: 0;
        margin-left: 64px;

        @include vp-1023 {
            font-variant: normal;
            margin-left: 34px;
        }

        @include vp-767 {
            font-size: 36px;
            margin-left: 0;
        }
    }
}