.companions {
    position: relative;
    margin-top: -64px;
    z-index: 7;

    @include vp-1023 {
        background-color: $color-blue-zodiac;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-bottom: 60px;
    }

    @include vp-767 {
        padding-bottom: 32px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    &__container {
        display: grid;
        grid-template-columns: 48% 52%;
        align-items: start;
        padding: 0;


        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }
    }

    &__content-wrapper {
        padding-left: 72px;
        padding-right: 72px;
        padding-top: 150px;
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;

        @include vp-1279 {
            padding-left: 40px;
            padding-right: 40px;
        }

        @include vp-1023 {
            padding-top: 135px;
            margin-left: 0;
            order: 1;
        }

        @include vp-767 {
            padding-top: 102px;
            margin-left: 2px;
            padding-left: 25px;
            padding-right: 25px;
        }

        h2 {
            font-weight: 700;
            font-size: 95px;
            line-height: 65%;
            font-variant: all-small-caps;
            color: $color-midnight-express;
            margin: 0;
            margin-bottom: 36px;

            @include vp-1279 {
                font-size: 82px;
            }

            @include vp-1023 {
                font-size: 95px;
                margin-bottom: 44px;
                color: $color-default-white;
            }

            @include vp-767 {
                font-size: 50px;
                line-height: 48%;
                text-align: center;
                margin-bottom: 18px;
            }
        }

        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 137%;
            color: $color-midnight-express;
            margin: 0;

            br {
                @include vp-1023 {
                    display: none;
                }
            }

            @include vp-1023 {
                color: $color-default-white;
            }

            @include vp-767 {
                font-size: 14px;
                line-height: 157%;
            }
        }

        p:last-of-type {
            font-family: "Roboto Condensed";
            font-weight: 300;
            font-size: 22px;
            line-height: 109%;
            color: $color-midnight-express;
            margin-top: 53px;
            margin-bottom: 50px;

            @include vp-1023 {
                margin-top: 78px;
                margin-bottom: 0;
                color: $color-default-white;
            }

            @include vp-767 {
                font-size: 14px;
                line-height: 157%;
                margin-top: 31px;
                align-items: center;
            }

            @include vp-374 {
                margin-left: -8px;
            }
        }
    }

    &__button {
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        top: -20px;
        left: 75px;

        @include vp-1023 {
            width: 100%;
            top: 0;
            left: 0;
            padding-right: 80px;
            padding-left: 70px;
            order: 3;
        }

        a {
            gap: 47px;
            padding-right: 35px;

            @include vp-1023 {
                width: 100%;
                justify-content: space-between;
                padding-right: 20px;
            }

            @include vp-767 {
                border-radius: 10px;
                gap: 20px;
                padding-top: 22px;
                padding-bottom: 20px;
                margin-top: 20px;
                padding-left: 22px;

                span {
                    font-size: 18px;
                }
            }
        }

        @include vp-767 {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__card-wrapper {
        grid-column: 2/-1;
        grid-row: 1/3;
        background-color: $color-blue-zodiac;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-top: 135px;
        padding-bottom: 188px;
        padding-left: 74px;
        padding-right: 74px;

        @include vp-1439 {
            padding-left: 45px;
            padding-right: 45px;
        }

        @include vp-1279 {
            padding-left: 25px;
            padding-right: 25px;
        }

        @include vp-1023 {
            padding-top: 92px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 78px;
            margin: 0 auto;
            order: 2;
        }

        @include vp-767 {
            padding: 40px 25px;
        }
    }

    &__card-list {
        @include list-reset;
        display: flex;
        gap: 30px;

        @include vp-1439 {
            gap: 0;
        }

        @include vp-1023 {
            gap: 116px;
        }

        @include vp-767 {
            flex-direction: column;
            gap: 45px;
        }
    }

    &__card-list &__card-item:nth-child(2) {
        position: relative;
        top: 65px;

        @include vp-1439 {
            margin-left: auto;
        }

        @include vp-1023 {
            top: 0;
        }
    }

}