.companions-filter {
    padding-bottom: 230px;

    @include vp-1023 {
        padding-bottom: 216px;
    }

    &__wrapper {
        position: relative;
        width: 100vw;
        background-color: $color-solitude;

        h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin: 0;
        }

        @include vp-1023 {
            display: grid;
            grid-template-columns: 1fr 220px;
        }
    }

    &__buttons {
        display: flex;
        padding-top: 60px;
        padding-bottom: 74px;
        padding-left: 74px;

        @include vp-1023 {
            flex-direction: row-reverse;
            justify-content: flex-end;
            background-color: $color-solitude;
            margin-top: -23px;
            padding-top: 84px;
            padding-bottom: 60px;
            border-bottom-left-radius: 60px;
            border-bottom-right-radius: 60px;
            z-index: 1;
        }

        ul {
            @include list-reset;
            display: flex;
            gap: 14px;

            @include vp-1023 {
                gap: 10px;
                margin-left: -10px;
            }
        }

        button {
            display: flex;
            gap: 22px;
            border: none;
            background-color: transparent;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            z-index: 10;
            cursor: pointer;

            @include vp-1023 {
                align-items: center;
                margin-left: auto;
                gap: 32px;
            }
        }

        svg:first-of-type {
            display: block;

            @include vp-1023 {
                display: none;
            }
        }

        svg:last-of-type {
            display: none;

            @include vp-1023 {
                display: block;
            }
        }

        span:last-of-type {
            display: none;

            @include vp-1023 {
                display: block;
            }
        }

        span:first-of-type {
            display: block;

            @include vp-1023 {
                display: none;
            }
        }
    }

    &__list {
        display: none;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 1s ease-in-out opacity 0.5s ease-in-out;


        button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 17px;
            background-color: #d6daed;
            border: none;
            border-radius: 20px;
            padding: 37px;
        }
    }

    &__list.is-open {
        display: block;
        transform: translateY(0);
        opacity: 1;
        padding-bottom: 148px;
    }

    &__alphabet-list {
        @include list-reset;
        display: grid;
        grid-template-columns: 17% 16% 19% 17% 22%;
        column-gap: 30px;
        grid-template-rows: 648px 500px 448px 498px 308px auto;
        background-color: $color-solitude;
        z-index: 5;
        padding-left: 36px;

        @include vp-1023 {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
        }
    }

    &__item {
        // position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        h3 {
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            margin: 0;
            text-transform: uppercase;
            color: $color-midnight-express;

            @include vp-1023 {
                opacity: 0.5;
            }
        }

        ul {
            @include list-reset;

            @include vp-1023 {
                position: absolute;
                display: none;
                left: 106%;
            }
        }

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: $color-charcoal;
        }
    }

    &__item.is-open {
        @include vp-1023 {
            h3 {
                opacity: 1;
            }

            ul {
                display: flex;
                flex-direction: column
            }
        }
    }

    &__cards-list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include vp-1023 {
            gap: 44px;
        }
    }

    &__cards-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
        margin: 38px auto 44px;
        padding: 28px 72px 27px 24px;
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;

        @include vp-1023 {
            margin: 18px auto 22px;
        }
    }

    &__card {
        grid-template-columns: 285px 1fr;
        min-height: max-content;
        width: 100%;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }

    &__result {
        display: grid;
        grid-template-columns: 1fr 285px;
        gap: 86px;

        @include vp-1279 {
            grid-template-columns: 1fr 260px;
            gap: 40px;
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column-reverse;
        }
    }



    &__card-button-likes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: #E2E5F2;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: white;
        border-radius: 20px;
        padding: 26px 36px 24px 29px;
    }

    &__pagination-list {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
    }

    &__pagination-item {

        a.is-active {
            span {
                background-color: $color-picton-blue;
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: transparent;
        }

        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &__pagination-buttons {
        display: flex;
        margin-left: auto;
        gap: 18px;
        margin-top: -2px;
    }

    &__pagination-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        padding: 5px;
        color: $color-default-blue;

        &--next {
            transform: rotate(180deg);
        }
    }

    &__form {
        @include vp-1023 {
            padding-top: 38px;
        }
    }
}