.companions {
    position: relative;
    margin-top: -64px;
    z-index: 7;

    @include vp-1023 {
        background-color: $color-blue-zodiac;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-bottom: 60px;

    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        align-items: start;
        padding: 0;


        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }
    }

    &__content-wrapper {
        margin-left: 12px;
        padding-top: 150px;
        grid-column: 1/2;
        grid-row: 1/2;

        @include vp-1023 {
            padding-top: 135px;
            margin-left: 0;
            order: 1;
        }

        h2 {
            font-weight: 700;
            font-size: 95px;
            line-height: 65%;
            font-variant: all-small-caps;
            color: $color-midnight-express;
            margin: 0;
            margin-bottom: 36px;

            @include vp-1023 {
                margin-bottom: 44px;
                color: $color-default-white;
            }
        }

        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 137%;
            color: $color-midnight-express;
            margin: 0;

            br {
                @include vp-1023 {
                    display: none;
                }
            }

            @include vp-1023 {
                color: $color-default-white;
            }
        }

        p:last-of-type {
            font-family: "Roboto Condensed";
            font-weight: 300;
            font-size: 22px;
            line-height: 109%;
            color: $color-midnight-express;
            margin-top: 53px;

            @include vp-1023 {
                margin-top: 78px;
                color: $color-default-white;
            }
        }
    }

    &__button {
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        top: -20px;
        left: 75px;

        @include vp-1023 {
            width: 100%;
            top: 0;
            left: 0;
            padding-right: 80px;
            padding-left: 70px;
            order: 3;
        }

        button {
            gap: 48px;
            margin-left: 4px;
            padding-right: 25px;

            @include vp-1023 {
                width: 100%;
                justify-content: space-between;
                padding-right: 20px;
            }
        }
    }

    &__card-wrapper {
        grid-column: 2/-1;
        grid-row: 1/3;
        background-color: $color-blue-zodiac;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-top: 135px;
        padding-bottom: 188px;
        padding-left: 74px;
        padding-right: 74px;

        @include vp-1023 {
            padding-top: 92px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 78px;
            order: 2;
        }
    }

    &__card-list {
        @include list-reset;
        display: flex;
        gap: 30px;
    }

    &__card-list &__card-item:nth-child(2) {
        position: relative;
        top: 65px;

        @include vp-1023 {
            top: 0;
        }
    }

}