.companions-filter {
    padding-bottom: 230px;

    @include vp-1023 {
        padding-bottom: 216px;
    }


    &__wrapper {
        position: relative;
        width: 100vw;
        background-color: $color-solitude;

        h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin: 0;
        }

        @include vp-1023 {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 66px;
            margin-top: -60px;
            background-color: #edeff6;
            z-index: 10;
            overflow: hidden;
        }

        @include vp-767 {
            padding-top: 0;
            margin-top: 0;

            &:has(.is-open) {
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }

    &__buttons {
        display: flex;
        padding-top: 60px;
        padding-bottom: 74px;
        padding-left: 74px;

        @include vp-1023 {
            flex-direction: row-reverse;
            justify-content: flex-end;
            background-color: $color-solitude;
            margin-top: -23px;
            padding-top: 86px;
            padding-bottom: 58px;
            padding-left: 76px;
            z-index: 1;
        }

        @include vp-767 {
            flex-direction: column;
            padding-left: 24px;
            padding-top: 44px;
            padding-bottom: 15px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            &:has(.is-open) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        ul {
            @include list-reset;
            display: flex;
            gap: 14px;

            @include vp-1023 {
                gap: 10px;
                margin-left: -10px;
            }

            @include vp-767 {
                display: none;
            }
        }

        ul.is-open {
            @include vp-767 {
                display: flex;
                flex-direction: column;
                gap: 9px;
                padding-left: 35px;
                padding-top: 16px;
                padding-bottom: 6px;
                z-index: 5;
            }
        }

        button {
            display: flex;
            gap: 22px;
            border: none;
            background-color: transparent;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            z-index: 10;
            color: $color-midnight-express;
            opacity: 0.3;
            transition: opacity 0.3s ease-in;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }

            &.is-open,
            &:active {
                opacity: 1;

                svg:first-of-type {
                    @include vp-767 {
                        margin-top: 2px;
                        margin-bottom: auto;
                    }
                }

                svg:last-of-type {
                    @include vp-767 {
                        margin-right: 2px;
                        margin-top: 4px;
                        margin-left: auto;
                        margin-bottom: auto;
                    }
                }

                span:first-of-type {
                    @include vp-767 {
                        width: 52%;
                        text-align: left;
                    }
                }
            }

            @include vp-1023 {
                align-items: center;
                margin-left: auto;
                gap: 50px;
            }

            @include vp-767 {
                font-size: 16px;
                line-height: 112%;
                margin-left: 0;
                padding: 0;
                gap: 10px;
            }
        }

        svg:first-of-type {
            display: block;

            @include vp-1023 {
                display: none;
            }

            @include vp-767 {
                display: flex;
                width: 16px;
                height: 10px;
                transition: width 0.3s ease-in;
            }
        }

        svg:last-of-type {
            display: none;

            @include vp-1023 {
                display: block;
                width: 17px;
                height: 3px;
            }
        }

        span:last-of-type {
            display: none;

            @include vp-1023 {
                display: block;
            }

            @include vp-767 {
                display: none;
            }
        }

        span:first-of-type {
            display: block;

            @include vp-1023 {
                display: none;
            }

            @include vp-767 {
                display: flex;
            }
        }
    }

    &__list {
        display: none;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 1s ease-in-out opacity 0.5s ease-in-out;

        @include vp-1023 {
            gap: 44px;
        }

        button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #d6daed;
            border: none;
            border-radius: 20px;
            padding: 40px 37px 36px 40px;

            span {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
            }

            svg {
                position: relative;
                left: -10px;
            }

            @include vp-1023 {
                grid-row: 2 / 3;
                grid-column: 1 / 3;
            }

            @include vp-767 {
                font-size: 16px;
                line-height: 125%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                padding: 12px 14px 10px 14px;

                svg {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    &__list.is-open {
        display: grid;
        transform: translateY(0);
        transition: transform 0.3s ease-in;
        opacity: 1;
        padding-bottom: 152px;

        @include vp-1023 {
            grid-template-columns: 1fr 240px;
            padding-bottom: 74px;
        }

        @include vp-767 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0;
            padding-bottom: 30px;
        }
    }

    &__alphabet-list {
        @include list-reset;
        display: grid;
        grid-template-columns: 17% 16% 19% 17% 22%;
        column-gap: 30px;
        grid-template-rows: 648px 500px 448px 498px 308px auto;
        background-color: $color-solitude;
        z-index: 5;
        padding-left: 36px;

        @include vp-1023 {
            gap: 0;
            grid-template-columns: repeat(5, 76px);
            grid-template-rows: repeat(5, 82px);
        }

        @include vp-767 {
            padding-left: 0;
            margin: 0 auto;
            margin-bottom: 285px;
            grid-template-columns: repeat(5, min-content);
            grid-template-rows: repeat(5, min-content);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include vp-767 {
            justify-content: center;
            align-items: center;
            gap: 0;
            width: 43px;
            height: 40px;
            background-color: $color-default-white;
            border: 1px solid #CBCED9;
            border-collapse: collapse;
        }

        h3 {
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            margin: 0;
            text-transform: uppercase;
            color: $color-midnight-express;

            @include vp-1023 {
                opacity: 0.5;
            }

            @include vp-767 {
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                text-align: center;
            }
        }
    }

    &__list-wrapper {
        @include vp-1023 {
            position: absolute;
            left: 68%;
            top: -6px;
        }

        @include vp-767 {
            left: 26px;
            top: 218px;
        }

        ul {
            @include list-reset;

            @include vp-1023 {
                display: none;
            }
        }

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: $color-charcoal;

            @include vp-767 {
                font-size: 16px;
                line-height: 137%;
            }
        }
    }

    &__item.is-open {
        @include vp-1023 {
            h3 {
                opacity: 1;
            }

            ul {
                display: flex;
                flex-direction: column
            }
        }

        @include vp-767 {
            background-color: $color-midnight-express;
            border-color: $color-midnight-express;

            h3 {
                color: $color-default-white
            }
        }
    }

    &__cards-list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;

        @include vp-1023 {
            gap: 38px;
        }

        @include vp-767 {
            gap: 10px;
        }
    }

    &__cards-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
        color: $color-catalina-blue;
        margin: 32px auto 44px;
        padding: 28px 72px 27px 24px;
        border: none;
        background-color: transparent;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }

        @include vp-1023 {
            margin: 18px auto 22px;
            padding: 32px 72px 27px 82px;
            gap: 24px;
        }

        @include vp-767 {
            font-size: 17px;
            line-height: 176%;
            padding: 0;
            gap: 15px;
            margin-top: 26px;
            position: relative;
            left: 6px;
        }

        svg {
            transition: opacity 0.3s ease-in;

            @include vp-767 {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__card {
        grid-template-columns: 285px 1fr;
        min-height: max-content;
        width: 100%;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    }

    &__result {
        display: grid;
        grid-template-columns: 1fr 285px;
        gap: 86px;

        @include vp-1279 {
            grid-template-columns: 1fr 260px;
            gap: 40px;
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
        }

        @include vp-767 {
            gap: 26px;
        }
    }

    &__card-button-likes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: #E2E5F2;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: white;
        border-radius: 20px;
        padding: 26px 37px 24px 29px;

        @include vp-1023 {
            padding-right: 30px;
        }
    }

    &__pagination-list {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;

        @include vp-767 {
            display: none;
        }
    }

    &__pagination-item {

        &:hover {
            opacity: 0.6;
        }

        &:active,
        a.is-active {
            opacity: 1;

            span {
                background-color: $color-picton-blue;
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: $color-catalina-blue;

            background-color: transparent;
        }

        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &__pagination-buttons {
        display: flex;
        margin-left: auto;
        gap: 18px;
        margin-top: -2px;

        @include vp-767 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #ffffff;
            border-radius: 20px;
            max-width: 270px;
            width: 100%;
        }
    }

    &__pagination-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
        padding: 5px;
        color: $color-default-blue;

        &--next {
            transform: rotate(180deg);
        }

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    &__form {
        @include vp-1023 {
            padding-top: 38px;
        }

        @include vp-767 {
            padding-top: 20px;
        }
    }
}