.companions-card {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: $color-default-white;
    border-radius: 21px;


    &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

        img {
            position: relative;
            transform: scale(1.05);
            transition: transform 0.3s ease-in;
        }

    }

    @include vp-1023 {
        grid-template-columns: 190px auto auto;
        grid-template-rows: auto auto;
        column-gap: 35px;
        row-gap: 12px;
        padding: 34px 26px 26px 34px;
        overflow: hidden;
    }

    @include vp-767 {
        grid-template-columns: 70px auto auto;
        grid-template-rows: 70px minmax(18px, auto) minmax(42px, auto) minmax(38px, auto) 36px;
        column-gap: 16px;
        row-gap: 12px;
        padding: 16px 6px 27px 17px;
    }

    &__img {
        width: 285px;
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;
        overflow: hidden;

        @include vp-1279 {
            width: 220px;
        }

        @include vp-1023 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 190px;
            height: 190px;
            border-radius: 20px;
            overflow: hidden;
        }

        @include vp-767 {
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: grid;
        grid-template-columns: 58% auto;
        grid-template-rows: auto;
        padding: 46px 43px 42px 62px;

        @include vp-1359 {
            grid-template-columns: 52% auto;
            padding-left: 20px;
        }

        @include vp-1279 {
            grid-template-columns: 48% auto;
            padding: 30px 20px;
        }


        @include vp-1023 {
            display: contents;
            padding: 0;
        }
    }

    &__wrapper {
        grid-column: 1/2;
        grid-row: 1/2;

        @include vp-1023 {
            grid-column: 2/3;
        }

        h3 {
            position: relative;
            width: max-content;
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            color: $color-catalina-blue;
            margin: 0;
            margin-bottom: 20px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 0.3;
            }

            @include vp-1023 {
                margin-bottom: 18px;
            }

            @include vp-767 {
                width: min-content;
                font-size: 20px;
                grid-row: 1/2;
                grid-column: 2/4;
            }
        }

        @include vp-767 {
            display: contents;
        }
    }

    &--online h3::after {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
        border-radius: 100%;
        background-color: #81E31E;

        @include vp-767 {
            right: -76%;
            top: 10px;
            transform: none;
        }
    }

    &--offline h3::after {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 50%;
        transform: translateY(-50%);
        left: -26px;
        border-radius: 100%;
        background-color: #F97676;

        @include vp-1023 {
            left: unset;
            right: -30px;
        }

        @include vp-767 {
            right: -76%;
            top: 10px;
            transform: none;
        }
    }

    &__hashtags {
        width: 70%;
        font-size: 20px;
        line-height: 115%;
        margin: 0;
        color: $color-catalina-blue;

        @include vp-1023 {
            width: 70%;
            margin-left: 2px;
        }

        @include vp-767 {
            width: 90%;
            display: flex;
            font-size: 15px;
            line-height: 120%;
            grid-column: 1/4;
            grid-row: 2/3;
            margin: 0;
            margin-left: 9px;
        }
    }

    &__counries {
        grid-column: 2/4;
        grid-row: 1/2;
        margin-top: 5px;
        margin-left: 2px;
        color: $color-catalina-blue;

        @include vp-1023 {
            margin-top: 7px;
            grid-column: 1/4;
            grid-row: 2/3;
            bottom: 0;
            left: -2200px;
        }

        @include vp-767 {
            grid-column: 1/3;
            grid-row: 3/4;
            margin-left: 9px;
        }

        ul {
            @include list-reset;
            display: flex;
            flex-direction: column;
            gap: 14px;


            @include vp-1023 {
                position: relative;
                flex-direction: row;
                gap: 14px;
                padding-top: 40px;
            }

            @include vp-767 {
                flex-direction: column;
                gap: 9px;
                padding-top: 32px;
            }

            &::before {
                @include vp-1023 {
                    position: absolute;
                    content: "хочет посетить:";
                    top: 2px;
                    left: 7%;
                    font-size: 16px;
                    line-height: 114%;
                    padding-left: 4px;
                    padding-right: 2px;
                    background-color: $color-default-white;
                    z-index: 2;
                }

                @include vp-767 {
                    top: -3px;
                    left: -4%;
                    font-size: 14px;
                }
            }

            &::after {
                @include vp-1023 {
                    position: absolute;
                    content: "";
                    top: 11px;
                    left: -30%;
                    width: 150%;
                    height: 1px;
                    background-color: #EDEFF6;
                }

                @include vp-767 {
                    top: 4px;
                    width: 300%;
                }
            }
        }

        li {
            display: grid;
            align-items: center;
            gap: 18px;
            grid-template-columns: max-content auto;

            @include vp-1279 {
                gap: 18px;
            }

            @include vp-1023 {
                gap: 12px;
                align-items: end;
            }

            @include vp-767 {
                gap: 13px;
            }

            img {

                @include vp-1023 {
                    width: 40px;
                    height: 24px;
                }

                @include vp-767 {
                    width: 26px;
                    height: 18px;
                }
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                margin: 0;

                @include vp-1279 {
                    font-size: 16px;
                }

                @include vp-1023 {
                    font-size: 20px;
                }

                @include vp-767 {
                    font-size: 15px;
                    line-height: 107%;

                }
            }


        }

        span {
            display: none;

            @include vp-1023 {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 107%;
                padding: 5px 5px 5px 48px;
                margin: 0 5px;

                &::before,
                &::after {
                    content: "";
                    flex: 1;
                    border-bottom: 1px solid #EDEFF6;

                }
            }

            @include vp-767 {
                padding: 0;

                &::before {
                    right: 0;
                }
            }
        }
    }

    &__transport {
        grid-column: 2/3;
        grid-row: 2/-1;
        margin-top: auto;
        padding: 14px 0;
        color: $color-catalina-blue;

        @include vp-1023 {
            grid-column: 3/4;
            grid-row: 1/2;
            margin-left: auto;
            padding: 0;
            margin: -3px 14px auto auto;
        }

        @include vp-767 {
            position: relative;
            display: flex;
            flex-direction: column;
            grid-column: 1/3;
            grid-row: 4/5;
            margin: 0;
            margin-left: 8px;

            &::before {
                position: absolute;
                content: "транспорт:";
                top: 2px;
                left: -4px;
                font-size: 14px;
                line-height: 114%;
                padding-left: 4px;
                padding-right: 2px;
                background-color: $color-default-white;
                z-index: 2;
            }

            &::after {
                position: absolute;
                content: "";
                top: 11px;
                left: -30%;
                width: 150%;
                height: 1px;
                background-color: #EDEFF6;

            }
        }

        span {
            display: none;

            @include vp-767 {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
                margin-right: auto;
            }
        }

        ul {
            @include list-reset;
            display: flex;
            flex-wrap: wrap;
            gap: 0;

            @include vp-1023 {
                flex-direction: column;

            }

            @include vp-767 {
                flex-direction: row;
                gap: 1px;
                margin-top: 32px;
                margin-left: -4px;
            }
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 100%;

            &.is-active {
                svg {
                    opacity: 1;
                }
            }

            &:before {
                position: absolute;
                content: attr(data-tooltip);
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                padding: 14px 18px;
                margin-top: 4px;
                font-weight: 400;
                font-size: 20px;
                line-height: 100%;
                text-align: center;
                background-color: #101D41;
                color: $color-default-white;
                opacity: 0;
            }

            &::after {
                position: absolute;
                content: "";
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                width: 16px;
                height: 10px;
                margin-top: 4px;
                background-color: #101D41;
                clip-path: polygon(50% 0, 0 100%, 100% 100%);
                opacity: 0;
            }

            &:hover {

                &::before,
                &::after {
                    opacity: 1;
                    transition: opacity 0.3s ease-in;
                }
            }
        }

        svg {
            color: $color-catalina-blue;
            opacity: 0.15;

            @include vp-767 {
                width: 13px;
                height: 17px;
            }
        }
    }

    &__level {
        grid-column: 3/4;
        grid-row: 2/-1;
        margin-left: auto;
        margin-top: auto;

        @include vp-1023 {
            grid-column: 3/4;
            grid-row: 1/2;
            margin-top: auto;
            margin-bottom: -4px;
        }

        @include vp-767 {
            display: grid;
            gap: 10px;
            grid-column: 3/4;
            grid-row: 4/5;
            margin: 0 auto;
            margin-top: 3px;
        }

        span {
            display: none;

            @include vp-767 {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            }
        }
    }

    &__button {
        grid-column: 1/2;
        grid-row: 2/-1;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 4px;
        padding: 0;
        margin-top: auto;
        margin-left: -8px;
        margin-bottom: 4px;

        button {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            padding: 13px 26px;
            border-color: transparent;
            border-radius: 25px;
            background-color: #A8D2F4;


            &:hover {
                background-color: $color-picton-blue;
            }

            &:active {
                color: #161C3530;
            }

            @include vp-1023 {
                padding: 16px 32px 10px 40px;
            }

            @include vp-767 {
                position: relative;
                top: 3px;
                width: 100%;
                max-width: 230px;
                font-size: 17px;
                margin: 0 auto;
                padding-top: 11px;
                padding-bottom: 8px;
            }
        }

        @include vp-1023 {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: auto;
        }

        @include vp-767 {
            grid-column: 1/-1;
            grid-row: 5/6;
        }
    }

    &__likes-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        cursor: pointer;

        @include vp-1023 {
            gap: 8px;
        }

        @include vp-767 {
            position: absolute;
            top: 14%;
            left: 25%;
            gap: 6px;
        }

        &:hover {
            span {
                svg {
                    opacity: 0.5;
                }
            }
        }

        &:active {
            span {
                svg {
                    opacity: 0.1;
                }
            }
        }

        p {
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0;

            @include vp-767 {
                margin-top: 3px;
                font-size: 14px;
            }
        }
    }

    &__likes-icon {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #E2E5F2;
        cursor: pointer;

        @include vp-1023 {
            width: 55px;
        }

        @include vp-767 {
            width: 30px;
            height: 30px;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include vp-1023 {
                width: 22px;
                height: 20px;
            }

            @include vp-767 {
                width: 12px;
                height: 12px;
            }
        }
    }

    [data-liked='true'] .companions-card__likes-icon {
        background-color: #F9EAEA;

        &:hover {
            background-color: #F9D8D8;
        }

        &:active {
            opacity: 0.3;
        }

        svg:first-child {
            opacity: 0;
        }

        svg:last-child {
            opacity: 1;
        }
    }

    [data-liked='false'] .companions-card__likes-icon {
        &:hover {
            svg:first-child {
                opacity: 1;
            }
        }

        &:active {
            opacity: 0.1;
        }

        svg:first-child {
            opacity: 0.3;
        }

        svg:last-child {
            opacity: 0;
        }
    }
}