.companions-card {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: $color-default-white;
    border-radius: 21px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;

    @include vp-1023 {
        grid-template-columns: 190px auto auto;
        grid-template-rows: auto auto;
        column-gap: 36px;
        row-gap: 12px;
        padding: 30px 30px 24px;
    }

    @include vp-767 {
        grid-template-columns: 70px auto auto;
        grid-template-rows: auto;
        column-gap: 16px;
        padding: 16px 17px 82px;
    }

    &__img {
        width: 285px;

        @include vp-1279 {
            width: 220px;
        }

        @include vp-1023 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 190px;
            height: 190px;
            border-radius: 20px;
            overflow: hidden;
        }

        @include vp-767 {
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        display: grid;
        grid-template-columns: 58% auto;
        grid-template-rows: auto;
        row-gap: 20px;
        padding: 46px 43px 42px 62px;

        @include vp-1359 {
            grid-template-columns: 52% auto;
            padding-left: 20px;
        }

        @include vp-1279 {
            grid-template-columns: 48% auto;
            padding: 30px 20px;
        }


        @include vp-1023 {
            display: contents;
            padding: 0;
        }
    }

    &__wrapper {
        grid-column: 1/2;
        grid-row: 1/2;

        @include vp-1023 {
            grid-column: 2/3;
        }

        h3 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin: 0;
            margin-bottom: 20px;

            @include vp-767 {
                font-size: 20px;
            }
        }

        @include vp-767 {
            display: contents;
        }
    }

    &__hashtags {
        width: 70%;
        font-size: 20px;
        line-height: 115%;

        @include vp-1023 {
            width: 74%;
        }

        @include vp-767 {
            width: auto;
            display: flex;
            font-size: 15px;
            line-height: 120%;
            grid-column: 1/4;
            grid-row: 2/3;
            margin: 0;
            margin-left: 9px;
        }
    }

    &__counries {
        grid-column: 2/4;
        grid-row: 1/2;
        margin-top: 5px;


        @include vp-1023 {
            grid-column: 1/4;
            grid-row: 2/3;
            bottom: 0;
            left: -2200px;
        }

        @include vp-767 {
            grid-column: 1/3;
            grid-row: 3/4;
            margin-left: 9px;
        }

        span {
            display: none;

            @include vp-767 {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            }
        }

        ul {
            @include list-reset;
            display: flex;
            flex-direction: column;
            gap: 14px;


            @include vp-1023 {
                flex-direction: row;
                gap: 12px;
                padding-top: 18px;
            }

            @include vp-767 {
                flex-direction: column;
                gap: 9px;
            }
        }

        li {
            display: grid;
            align-items: center;
            gap: 18px;
            grid-template-columns: max-content auto;

            @include vp-1279 {
                gap: 18px;
            }

            @include vp-767 {
                gap: 13px;
            }

            img {
                @include vp-767 {
                    width: 26px;
                    height: 18px;
                }
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                text-transform: uppercase;
                margin: 0;

                @include vp-1279 {
                    font-size: 16px;
                }

                @include vp-1023 {
                    font-size: 20px;
                }

                @include vp-767 {
                    font-size: 15px;
                    line-height: 107%;

                }
            }


        }

        span {
            display: none;

            @include vp-1023 {
                position: relative;
                display: block;
                font-weight: 400;
                font-size: 15px;
                line-height: 107%;
                padding: 5px 5px 5px 48px;

                &::before {
                    position: absolute;
                    content: "";
                    width: 486px;
                    height: 1px;
                    background-color: #EDEFF6;
                    top: 50%;
                    right: -30px;
                    z-index: 0;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 100px;
                    height: 1px;
                    left: -50px;
                    background-color: #EDEFF6;
                    top: 50%;
                    right: 0;
                    z-index: 0;
                }
            }

            @include vp-767 {
                padding: 0;
            }
        }
    }

    &__transport {
        grid-column: 2/3;
        grid-row: 2/-1;
        margin-top: auto;
        padding: 10px 2px;

        @include vp-1023 {
            grid-column: 3/4;
            grid-row: 1/2;
            margin-left: auto;
            padding: 0;
            margin: 0;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: 8px;
        }

        @include vp-767 {
            display: flex
;
        flex-direction: column;
            grid-column: 1/3;
            grid-row: 4/5;
        }

        span {
            display: none;

            @include vp-767 {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
                margin-right: auto;
            }
        }

        ul {
            @include list-reset;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            @include vp-1023 {
                flex-direction: column;
                gap: 0;
            }

            @include vp-767 {
                flex-direction: row;
            }
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            background-color: #EDEFF6;
        }

        svg {
            color: $color-catalina-blue;
            opacity: 0.15;

            &.is-active {
                opacity: 1;
            }

            @include vp-767 {
                width: 13px;
                height: 17px;
            }
        }
    }

    &__level {
        grid-column: 3/4;
        grid-row: 2/-1;
        margin-left: auto;
        margin-top: auto;

        @include vp-1023 {
            grid-column: 3/4;
            grid-row: 1/2;
            margin-right: -4px;
        }

        @include vp-767 {
            grid-column: 3/4;
            grid-row: 4/5;
        }

        span {
            display: none;

            @include vp-767 {
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            }
        }
    }

    &__button {
        grid-column: 1/2;
        grid-row: 2/-1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;
        margin-top: auto;
        margin-left: -8px;

        button {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            padding: 13px 26px;
            border-color: transparent;
            border-radius: 25px;
            background-color: #A8D2F4;

            @include vp-1023 {
                padding: 15px 38px;
                margin-bottom: -4px;
                margin-left: 6px;
            }

            @include vp-767 {
                width: 100%;
                max-width: 230px;
                margin-left: 0;
                margin: 0 auto;
            }
        }

        @include vp-1023 {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: auto;
        }

        @include vp-767 {
            grid-column: 1/-1;
            grid-row: 5/6;
        }
    }

    &__likes-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        @include vp-1023 {
            gap: 8px;
        }

        @include vp-767 {
            display: none;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: #E2E5F2;
        }

        p {
            font-size: 20px;
            line-height: 20px;
            margin: 0;
        }
    }
}