.countries-filter {

    padding-bottom: 200px; //подогнать

    &__wrapper {
        position: relative;

        h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            margin: 0;
        }
    }

    &__buttons {
        display: flex;
        padding-top: 57px;
        padding-bottom: 80px;

        ul {
            @include list-reset;
            display: flex;
        }

        button {
            display: flex;
            gap: 22px;
            border: none;
            background-color: transparent;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            z-index: 10;
            cursor: pointer;
        }
    }

    &__list {
        @include list-reset;
        position: absolute;
        display: none;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 21px;
        background-color: $color-default-white;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out, opacity 0.2s ease-in;
        opacity: 0;
        z-index: 5;
    }

    &__list.is-open {
        display: grid;
        transform: translateY(0);
        opacity: 1;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        h3 {
            font-weight: 700;
            font-size: 60px;
            line-height: 100%;
            margin: 0;
            text-transform: uppercase;
            background-color: $color-default-white;
            color: $color-midnight-express;
        }

        ul {
            @include list-reset;
        }

        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: $color-charcoal;
        }
    }

    &__cards-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__card {
        grid-template-columns: 285px 1fr;
        grid-template-rows: auto;
        min-height: unset;
        width: unset;
    }

    &__result {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 86px;
    }

    &__card-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 46px 101px 42px 62px;

        h3 {
            text-align: start;
            margin-bottom: 20px;
        }
    }

    &__card-wrapper:last-of-type {
        margin-left: auto;
    }

    &__card-hashtags {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
    }

    &__card-countries {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 54px;

        li {
            display: flex;
            gap: 18px;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
        }
    }

    &__card-transport {
        display: flex;

        li {
            display: block;
        }
    }

    &__card-button {
        display: flex;
        align-items: center;
        gap: 4px;

        button {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            padding: 18px 26px;
            border-color: transparent;
            border-radius: 25px;
            background-color: #A8D2F4;
        }
    }

    &__card-button-likes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: #E2E5F2;
        }

    }
}