.direction {
    position: relative;
    z-index: 8;
    margin-top: -50px;

    @include vp-1023 {
        background-color: $color-solitude;
        padding-bottom: 90px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    &__container {
        display: grid;
        grid-template-columns: 52% 48%;
        padding: 0;
        justify-items: start;

        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }
    }

    &__slide-wrapper {
        // height: 756px;
        grid-row: 1/3;
        background-color: $color-solitude;
        padding-top: 140px;
        padding-bottom: 160px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

        @include vp-1023 {
            // height: 583px;
            padding-top: 70px;
            padding-bottom: 60px;
            padding-left: 60px;
            padding-right: 88px;
            order: 2;
        }
    }

    &__slider {
        max-height: 445px;
        overflow: hidden;
        padding: 5px 15px;
    }

    &__slide-list {
        @include list-reset;
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        height: 140px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        border-radius: 20px;
        background-color: $color-default-white;
        overflow: hidden;
        margin: 0 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 23px;
        padding-top: 24px;
        padding-left: 33px;
        padding-bottom: 21px;
    }

    &__item-text {
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            color: $color-default-black;
            margin: 0;
            margin-bottom: 4px;
        }

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: $color-charcoal;
            margin: 0;
            opacity: 0.3;
        }
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 9px;

        span {
            font-size: 24px;
            line-height: 100%;
            color: $color-default-blue;
            opacity: 0.3;
        }
    }

    &__img {
        position: relative;

        picture:first-child img {
            position: absolute;
            object-fit: cover;
            // width: 100%;
            // height: 100%;
        }

        picture:last-child img {
            position: absolute;
            left: -20%;
            top: 15%;
        }
    }

    &__content-wrapper {
        padding-top: 150px;
        padding-left: 112px;
        grid-row: 1/2;
        grid-column: 2/-1;

        @include vp-1023 {
            margin-left: -8px;
            padding-top: 112px;
            padding-left: 36px;
            order: 1;
        }

        h2 {
            font-weight: 700;
            font-size: 75px;
            line-height: 60%;
            font-variant: all-small-caps;
            margin: 0;
            margin-bottom: 33px;

            @include vp-1023 {
                font-weight: 700;
                font-size: 95px;
                line-height: 47%;
                text-align: center;
                margin-bottom: 52px;
            }
        }

        p {
            font-weight: 500;
            font-size: 23px;
            line-height: 143%;
            margin: 0;
            color: $color-charcoal;
            margin-right: 5px;

            @include vp-1023 {
                font-size: 24px;
                line-height: 137%;
                padding-left: 48px;
                margin-right: 0;
            }
        }
    }

    &__button {
        margin-top: 10px;
        margin-left: 120px;
        grid-column: 2/-1;
        grid-row: 2/3;

        button {
            height: fit-content;
            gap: 60px;
            padding: 28px 36px;

            @include vp-1023 {
                width: 100%;
                justify-content: space-between;
                padding-right: 20px;
            }
        }

        @include vp-1023 {
            padding: 0 72px;
            margin-top: 25px;
            margin-left: 0;
            order: 3;
        }
    }


}