.direction {
    position: relative;
    z-index: 8;
    margin-top: -50px;

    @include vp-1023 {
        background-color: $color-solitude;
        padding-bottom: 90px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }

    @include vp-767 {
        padding-bottom: 42px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    &__container {
        display: grid;
        grid-template-columns: 52% 48%;
        padding: 0;
        justify-items: start;

        @include vp-1279 {
            grid-template-columns: 48% 52%;
        }

        @include vp-1023 {
            display: flex;
            flex-direction: column;
        }
    }

    &__slide-wrapper {
        grid-row: 1/3;
        background-color: $color-solitude;
        padding-top: 144px;
        padding-bottom: 168px;
        padding-left: 35px;
        padding-right: 51px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;

        @include vp-1279 {
            padding-left: 25px;
            padding-right: 25px;
        }

        @include vp-1023 {
            padding: 70px 54px 70px 35px;
            order: 2;
        }

        @include vp-767 {
            padding: 0 16px;
        }
    }

    &__slider {
        position: relative;
        max-height: 445px;
        overflow: hidden;
        padding: 2px 28px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background: linear-gradient(to bottom, $color-solitude 0%, $color-solitude 20%, transparent 100%);
            z-index: 2;

            @include vp-767 {
                display: none
            }
        }

        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background: linear-gradient(to top, $color-solitude 0%, $color-solitude 20%, transparent 100%);
            z-index: 2;

            @include vp-767 {
                display: none
            }
        }

        @include vp-767 {
            max-height: max-content;
            padding: 15px 0;
            margin-top: 26px;
        }
    }

    &__slide-list {
        @include list-reset;
        display: flex;
        flex-direction: column;

        @include vp-767 {
            gap: 10px;
        }
    }

    &__item {
        width: 100%;
        height: 140px;
        display: grid;
        grid-template-columns: 67% 33%;
        border-radius: 20px;
        background-color: $color-default-white;
        overflow: hidden;
        margin: 0 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

        &.swiper-slide-active {
            transform: scaleX(1.03);
        }

        @include vp-1023 {
            grid-template-columns: 70% 30%;
        }

        @include vp-767 {
            width: 270px;
            min-height: 199px;
            border-radius: 10px;
            display: flex;
            flex-direction: column-reverse;
            margin: 0 auto;
        }
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 23px;
        padding-top: 24px;
        padding-left: 33px;
        padding-bottom: 21px;

        @include vp-1023 {
            padding-top: 33px;
        }

        @include vp-767 {
            position: relative;
            margin-top: -6px;
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-row: 2/-1;
            gap: 0;
            padding-top: 27px;
            padding-bottom: 24px;
            padding-left: 24px;
            padding-right: 17px;
            border-radius: 10px;
            overflow: hidden;
            background-color: $color-default-white;
            z-index: 2;
        }
    }

    &__item-text {
        h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            color: $color-default-black;
            margin: 0;
            margin-bottom: 4px;

            @include vp-767 {
                font-size: 21px;
            }
        }

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            color: $color-charcoal;
            margin: 0;
            opacity: 0.3;

            @include vp-767 {
                font-size: 16px;
                line-height: 112%;
            }
        }
    }

    &__count {
        display: flex;
        align-items: center;
        gap: 9px;

        @include vp-767 {
            position: absolute;
            right: 16px;
        top: 28px;
        }

        span {
            font-size: 24px;
            line-height: 100%;
            color: $color-default-blue;
            opacity: 0.3;

            @include vp-767 {
                font-size: 16px;
                line-height: 125%;

            }
        }

        svg {
            @include vp-767 {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__img {
        position: relative;

        @include vp-767 {
            height: 110px;
        }

        picture:first-child img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;

            @include vp-767 {
                z-index: 1;
            }
        }

        picture:last-child img {
            position: absolute;
            left: -20%;
            top: 15%;

            @include vp-767 {
                width: 35px;
                height: 24px;
                left: 9%;
                top: 85%;
                z-index: 3;
            }
        }
    }

    &__content-wrapper {
        padding-top: 150px;
        padding-left: 112px;
        grid-row: 1/2;
        grid-column: 2/-1;

        @include vp-1279 {
            padding-left: 36px;
        }

        @include vp-1023 {
            margin-left: -8px;
            padding-top: 112px;
            order: 1;
        }

        @include vp-767 {
            padding-top: 106px;
        }

        h2 {
            font-weight: 700;
            font-size: 75px;
            line-height: 60%;
            font-variant: all-small-caps;
            margin: 0;
            margin-bottom: 33px;

            @include vp-1279 {
                font-size: 76px;
            }

            @include vp-1023 {
                font-weight: 700;
                font-size: 95px;
                line-height: 47%;
                text-align: center;
                margin-bottom: 52px;
            }

            @include vp-767 {
                font-size: 44px;
                line-height: 55%;
                margin-bottom: 24px;
            }
        }

        p {
            font-weight: 500;
            font-size: 23px;
            line-height: 143%;
            margin: 0;
            color: $color-charcoal;
            margin-right: 5px;

            @include vp-1023 {
                font-size: 24px;
                line-height: 137%;
                padding-left: 48px;
                margin-right: 0;
            }

            @include vp-767 {
                padding-left: 0;
                font-size: 14px;
                line-height: 157%;
                margin-left: -3px;

                br {
                    display: none;
                }
            }
        }
    }

    &__button {
        margin-top: 10px;
        margin-left: 120px;
        grid-column: 2/-1;
        grid-row: 2/3;

        @include vp-1279 {
            margin-left: 50px;
        }

        a {
            height: fit-content;
            gap: 60px;
            padding: 28px 36px;

            @include vp-1023 {
                width: 100%;
                justify-content: space-between;
                padding-right: 20px;
            }

            @include vp-767 {
                padding: 24px;
                border-radius: 10px;

                span {
                    font-size: 18px;
                }
            }
        }

        @include vp-1023 {
            padding: 0 72px;
            margin-top: 25px;
            margin-left: 0;
            order: 3;
        }

        @include vp-767 {
            margin-top: 7px;
            padding: 0 25px;
        }
    }


}