.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $color-default-white;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 53px;
  padding-bottom: 37px;
  z-index: 4;

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 67px;
      border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: 42% 58%;
    column-gap: 12px;

    @include vp-1023 {
      grid-template-columns: 36% 64%
    }

    @include vp-767 {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      padding-top: 36px;
      padding-bottom: 36px;

      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 90%;
        height: 1px;
        background-color: #f2f2f2;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__logo {
    @include vp-767 {
      display: flex;
      justify-content: center;
    }

    svg {
      @include vp-767 {
        width: 96px;
        height: 15px;
        position: static;
        left: 0;
      }
    }
  }

  &__links {
    @include list-reset;
    display: flex;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      border-radius: 100%;
      background-color: $color-pale-cornflower-blue;
      transition: background-color 0.3s ease-in;

      &:hover {
        background-color: $color-picton-blue;
      }

      &:active svg{
        opacity: 0.3;
      }

      @include vp-767 {
        width: 45px;
        height: 45px;
      }
    }
  }

  &--catalog {

    svg {
      @include vp-1023 {
        width: 111px;
        height: 21px;
        left: 24%;
      }
    }
  }
}