.form {
    border-radius: 20px;
    padding: 46px 46px 46px 48px;
    background-color: #cce5fa;

    @include vp-1023 {
        padding: 37px 34px 37px 32px;
    }

    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        margin: 0;
        margin-bottom: 38px;

        @include vp-1023 {
            position: relative;
            font-size: 30px;
            line-height: 100%;
            padding-bottom: 38px;
            margin-bottom: 0;

            &::after {
                display: block;
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 97%;
                height: 1px;
                background-color: #f3c72b;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 19px;

        @include vp-1023 {
            padding-top: 20px;
            column-gap: 18px;
            row-gap: 0px;
        }

        fieldset {
            border: none;
            padding: 0;

            @include vp-1023 {
                display: flex;
                align-items: center;
            }
        }

        legend {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            text-transform: uppercase;
            z-index: 10;
            cursor: pointer;

            @include vp-1023 {
                width: 95px;
                float: left;
                margin-right: 32px;
                margin-top: 8px;
            }

            @include vp-767 {
                float: none;
            }
        }

        label {
            display: flex;
            flex-direction: row-reverse;
            gap: 13px;
            justify-content: left;

            @include vp-1023 {
                gap: 4px;
                align-items: center;
            }
        }
    }

    &__accordeon-content {
        display: none;
        transform: translateY(-100%);
        opacity: 0;

        &.is-open {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }

        @include vp-1023 {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }

        @include vp-767 {
            display: none;
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    &__options-list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-top: 24px;
        padding-bottom: 14px;

        @include vp-1023 {
            display: grid;
            grid-template-columns: repeat(3, 162px);
            padding-top: 20px;
            padding-bottom: 7px;
        }

        @include vp-767 {
            display: flex;
        flex-direction: column;
        }

        li {
            display: block;
            font-size: 20px;
            line-height: 100%;
            gap: 13px;

            @include vp-1023 {
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                font-size: 20px;
                line-height: 100%;
                gap: 12px;
            }
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            background-color: $color-default-white;
        }
    }

    &__checkbox-marker {
        svg {
            display: none;
        }
    }

    &__input:checked+&__checkbox-marker>svg {
        display: block;
    }

    &__transport-list {
        display: flex;
        flex-direction: row;
        padding-top: 14px;
        padding-bottom: 16px;
        margin-left: -2px;
        gap: 1px;

        @include vp-1023 {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 100%;

            svg {
                color: #161C35;
                opacity: 15%;
                z-index: 3;
            }
        }
    }

    &__transport-input:checked+span svg {
        opacity: 1;
    }

    &__range-slider {
        display: flex;
        flex-direction: column;
        margin-top: -4px;

        @include vp-1023 {
            width: 100%;
            flex-direction: row-reverse;
        }

        @include vp-767 {
            flex-direction: column;
        }
    }

    &__inputs {
        max-width: 192px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        margin-top: 20px;
        border: 1px solid #cbced9;
        border-radius: 4px;
        overflow: hidden;

        @include vp-1023 {
            margin: 0;
            margin-top: 10px;
            margin-left: auto;
        }

        @include vp-767 {
            margin-left: 0;
            align-self: flex-start;
        }

        label {
            align-items: normal;
        }
    }


    input {
        display: flex;
        text-align: center;
        width: 100%;
        border: none;
        background-color: $color-default-white;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.04em;
        padding-top: 15px;
        padding-bottom: 7px;

        @include vp-1023 {
            padding: 14px 18px 8px;
        }
    }


    button {
        border: transparent;
        border-radius: 25px;
        background-color: $color-default-white;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 14px;
        padding-right: 14px;
        color: $color-default-blue;

        @include vp-1023 {
            position: relative;
            margin-top: 70px;
        }

        &::before {
            display: block;
            position: absolute;
            content: "";
            top: -36px;
            left: 0;
            width: 97%;
            height: 1px;
            background-color: #f3c72b;
        }
    }

    #range-slider {
        background-color: transparent;
        border: none;
        margin-top: 34px;
        margin-bottom: 10px;

        @include vp-1023 {
            width: 281px;
            align-self: center;
        }
    }

    .noUi-connects {
        height: 3px;
        background: $color-catalina-blue;
        opacity: 0.2;
        z-index: 1;
    }

    .noUi-target {
        box-shadow: none;
        border-radius: 2px;
        background: $color-catalina-blue;
    }

    .noUi-connects>.noUi-connect {
        background: $color-catalina-blue;
        opacity: 1;
        z-index: 5;
    }

    .noUi-horizontal .noUi-handle {
        width: 13px;
        height: 13px;

        border: none;
        border-radius: 100%;
        box-shadow: none;
        background-color: $color-catalina-blue;

        &::before,
        &::after {
            display: none;
        }
    }

    .noUi-horizontal .noUi-handle-lower {
        right: -14px;
        top: -5px;
    }

    .noUi-horizontal .noUi-handle-upper {
        right: -3px;
        top: -5px;
    }
}