.form {
    border-radius: 20px;
    padding: 46px 48px;
    background-color: #cce5fa;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 19px;


        fieldset {
            border: none;
            padding: 0;
        }

        legend {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            text-transform: uppercase;
            cursor: pointer;
        }

        label {
            display: flex;
            flex-direction: row-reverse;
            gap: 13px;
            align-items: center;
        }
    }

    &__accordeon-content {
        display: none;
        transform: translateY(-100%);
        opacity: 0;

        &.is-open {
            display: flex;
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__options-list {
        @include list-reset;

        li {
            display: flex;
            align-items: center;
            gap: 13px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            background-color: $color-default-white;
        }
    }

    &__checkbox-marker {
        svg {
            display: none;
        }
    }

    &__input:checked+&__checkbox-marker>svg {
        display: block;
    }

    &__transport-list {
        display: flex;
        flex-direction: row;
        gap: 1px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 100%;

            svg {
                color: #161C35;
                opacity: 15%;
                z-index: 3;
            }
        }
    }
    &__transport-input:checked + span svg {
        opacity: 1;
    }

}