.form {
    border-radius: 20px;
    padding: 46px 46px 46px 48px;
    background-color: #cce5fa;

    @include vp-1023 {
        padding: 37px 28px 37px 32px;
    }

    @include vp-767 {
        padding: 29px 22px 22px 21px;
    }


    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        margin: 0;
        margin-bottom: 34px;

        @include vp-1023 {
            position: relative;
            font-size: 30px;
            padding-bottom: 38px;
            margin-bottom: 0;

            &::after {
                display: block;
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #f3c72b;
            }
        }

        @include vp-767 {
            font-size: 22px;
            letter-spacing: 0.02em;
            padding-bottom: 22px;
            margin-left: 4px;

            &::after {
                display: none;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 19px;

        @include vp-1023 {
            padding-top: 20px;
            column-gap: 18px;
            row-gap: 0px;
        }

        @include vp-767 {
            padding: 0;
        }

        fieldset {
            border: none;
            padding: 0;

            @include vp-1023 {
                // display: flex;
                display: grid;
                grid-template-columns: 126px 1fr;
                align-items: center;
            }

            @include vp-767 {
                position: relative;
                margin: 0;
                padding: 7px 0 6px 0;
                margin-left: 4px;

                &::after(:not(:last-child)) {
                    display: block;
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #f3c72b;
                }
            }
        }

        legend {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            text-transform: uppercase;
            z-index: 5;
            transition: opacity 0.3s ease-in transform 0.3s ease-in;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }

            &:active {
                opacity: 0.3;
            }

            &.is-open {
                opacity: 1;

                svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                color: $color-midnight-express;

                @include vp-1023 {
                    display: none;
                }

                @include vp-767 {
                    display: block;
                    margin-right: 2px;
                }
            }

            @include vp-1023 {
                width: 95px;
                float: left;
                margin-top: 8px;
            }

            @include vp-767 {
                width: 100%;
                float: none;
                font-size: 16px;
                line-height: 112%;
                margin: 0;
                padding-top: 11px;

                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    top: -2px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #f3c72b;
                }
            }
        }

        label {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 13px;
            justify-content: left;
            white-space: nowrap;

            @include vp-1023 {
                gap: 12px;
                align-items: center;
            }

            @include vp-767 {
                gap: 7px;
            }
        }
    }

    &__accordeon-content {
        display: none;
        transform: translateY(-100%);
        opacity: 0;

        @include vp-1023 {
            width: 100%;
            display: grid;
            transform: translateY(0);
            opacity: 1;
        }

        @include vp-767 {
            display: none;
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    &__accordeon-content.is-open {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    &__options-list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 26px 0 11px;

        @include vp-1023 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 156px);
            padding-top: 22px;
            padding-bottom: 5px;
        }

        @include vp-767 {
            display: flex;
            padding-top: 6px;
            padding-bottom: 12px;
            gap: 10px;
        }

        li {
            display: block;
            font-size: 20px;
            line-height: 100%;
            gap: 13px;
            transition: opacity 0.3s ease-in;
            cursor: pointer;

            @include vp-1023 {
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                font-size: 20px;
                line-height: 100%;
                gap: 12px;
            }

            @include vp-767 {
                font-size: 15px;
                line-height: 133%;
            }

            &:hover:not(.form__transport-list li) {
                opacity: 0.6;
            }

            &:active:not(.form__transport-list li) {
                opacity: 0.3;
            }
        }
    }

    &__checkbox-marker {
        position: relative;
        bottom: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        background-color: $color-default-white;
        cursor: pointer;

        @include vp-767 {
            width: 18px;
            height: 18px;
        }

        svg {
            display: none;
        }
    }

    &__input:checked+&__checkbox-marker>svg {
        display: block;
    }

    &__transport-list {
        display: flex;
        flex-direction: row;
        padding-top: 14px;
        padding-bottom: 16px;
        margin-left: -2px;
        gap: 1px;

        @include vp-1023 {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            cursor: pointer;

            @include vp-767 {
                width: 32px;
                height: 32px;
            }

            svg {
                color: #161C35;
                opacity: 15%;
                z-index: 3;

                @include vp-767 {
                    width: 16px;
                    width: 16px;
                }
            }
        }

        @include vp-767 {
            margin-left: 1px;
            padding-bottom: 14px;
        }
    }

    &__transport-list li {
        cursor: pointer;

        &:hover {
            span {
                box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);
            }

            svg {
                color: #B2B2B2;
            }
        }
    }

    &__transport-input:checked+span svg {
        opacity: 1;
    }

    &__range-slider {
        display: flex;
        flex-direction: column;
        margin-top: -4px;

        @include vp-1023 {
            width: 100%;
            display: grid;
            flex-direction: row-reverse;
        }

        @include vp-767 {
            width: fit-content;
            flex-direction: column;
        }
    }

    &__inputs {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        margin-top: 20px;
        border: none;
        border-radius: 4px;
        border-collapse: collapse;
        overflow: hidden;

        &::before {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-default-white;
            width: 20px;
            height: 10px;
        }

        &::after {
            position: absolute;
            content: "";
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 1px;
            background-color: #cbced9;
        }

        @include vp-1023 {
            max-width: 148px;
            margin: 10px 8px 0 auto;
        }

        @include vp-767 {
            max-width: 220px;
            width: 100%;
            margin-left: 0;
            align-self: flex-start;
            
        }

        label {
            align-items: normal;
        }
    }


    input {
        display: flex;
        text-align: center;
        width: 100%;
        border: none;
        background-color: $color-default-white;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.04em;
        padding-top: 15px;
        padding-bottom: 7px;
        transition: border-color 0.3s ease-in;
        border: 1px solid #cbced9;

        &:hover:not(.form__transport-input) {
            border-color: #959BB2;
        }

        &:active:not(.form__transport-input) {
            border-color: $color-catalina-blue;
        }

        @include vp-1023 {
            width: auto;
            padding: 14px 18px 8px;
        }

        @include vp-767 {
            width: 100%;
            font-size: 14px;
            line-height: 93%;
            letter-spacing: 0.06em;
            padding-top: 8px;
        }
    }


    button {
        border: transparent;
        border-radius: 25px;
        background-color: $color-default-white;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: center;
        padding-top: 18px;
        padding-bottom: 14px;
        padding-left: 14px;
        padding-right: 14px;
        color: $color-default-blue;
        cursor: pointer;

        &:hover {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
        }

        &:active {
            background-color: $color-picton-blue;
            color: #161C3530
        }

        @include vp-1023 {
            position: relative;
            margin-top: 68px;
            margin-right: 10px;
            margin-left: 4px;
        }

        &::before {
            display: block;
            position: absolute;
            content: "";
            top: -36px;
            left: 0;
            width: 97%;
            height: 1px;
            background-color: #f3c72b;
        }

        @include vp-767 {
            margin-top: 3px;
            margin-right: 0;
            margin-left: 0;
            font-size: 17px;
            padding-top: 16px;
            padding-bottom: 10px;

            &::before {
                display: none;
            }
        }
    }

    #range-slider {
        background-color: transparent;
        border: none;
        margin-top: 34px;
        margin-bottom: 10px;

        @include vp-1023 {
            width: 281px;
            align-self: center;
        }

        @include vp-767 {
            width: 220px;
            margin-top: 21px;
            margin-bottom: 0;
        }
    }

    .noUi-connects {
        height: 3px;
        background-color: #1d2e5b20;
        z-index: 1;
    }

    .noUi-target {
        box-shadow: none;
        border-radius: 2px;
        background-color: $color-catalina-blue;
    }

    .noUi-connects>.noUi-connect {
        background-color: $color-catalina-blue;
        opacity: 1;
        z-index: 5;
    }

    .noUi-horizontal .noUi-handle {
        width: 13px;
        height: 13px;
        border: none;
        border-radius: 100%;
        box-shadow: none;
        background-color: $color-catalina-blue;
        transition: transform 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.5);
        }

        &:active {
            transform: scale(1.5);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
        }

        &::before,
        &::after {
            display: none;
        }

        @include vp-767 {
            width: 10px;
            height: 10px;
        }
    }

    .noUi-horizontal .noUi-handle-lower {
        right: -14px;
        top: -5px;

        @include vp-767 {
            right: -11px;
        }
    }

    .noUi-horizontal .noUi-handle-upper {
        right: -3px;
        top: -5px;

        @include vp-767 {
            right: 0px;
        }
    }
}