.header {
  position: absolute;
  padding: 47px 0;
  align-items: center;
  width: 100%;
  z-index: 15;

  @include vp-1023 {
    padding: 44px 0;
  }

  @include vp-767 {
    padding: 35px 0;
  }

  &__container {
    display: flex;
    gap: 55px;

    @include vp-1023 {
      position: relative;
      gap: 166px;
    }

    @include vp-767 {
      gap: 30px;
      justify-content: space-between;
    }
  }

  
}
