.header {
  position: absolute;
  padding: 50px 0;
  align-items: center;
  width: 100%;
  background-color: transparent;
  z-index: 15;

  @include vp-1023 {
    padding: 44px 0;
  }

  @include vp-767 {
    padding: 35px 0;
  }

  &.is-open-nav {

    @include vp-1023 {
      background-color: $color-default-white;
      padding-top: 25px;
      transition: background-color 0.3s ease-in, padding 0.3s ease-in;
    }
  }

  .is-open-nav &__logo {
    z-index: 10;

    @include vp-1023 {

      svg {
        color: $color-midnight-express;
        transition: color 0.3s ease-in;
      }
    }
  }

  &__container {
    display: flex;
    gap: 55px;

    @include vp-1023 {
      position: relative;
      gap: 166px;
    }

    @include vp-767 {
      gap: 30px;
      justify-content: space-between;
    }
  }

  &--catalog {

    .header {
      &__logo:hover {
        opacity: 0.8;
        transition: opacity 0.3s ease-in;
      }

      &__logo {
        position: relative;
        top: -3px;

        @include vp-1023 {
          width: 300px;

          svg {
            left: 38%;
          }
        }

        @include vp-767 {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

      &__container {
        @include vp-1023 {
          gap: 178px;
          top: 2px;
        }
      }

      &__button {
        margin-top: 6px;
      }
    }


  }
}