.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 189px;
    padding-bottom: 115px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin: 0 auto;
    outline: 1px solid red;
    z-index: 10;

    @include vp-1023 {
        padding-top: 160px;
        padding-bottom: 208px;
    }

    &__img-bg {
        z-index: -1;
        position: absolute;
        inset: 0;
        transform: translateZ(0);


        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img {
        position: absolute;
        bottom: 0px;
        right: 276px;
        transition: transform 1s ease-in-out;
        animation: slideImg 1s ease forwards;

        @include vp-1023 {
            bottom: 150px;
            right: 46px;
            animation: none;
        }

        picture:first-child img {
            display: flex;

            @include vp-1023 {
                display: none;
            }
        }

        picture:last-child img {
            display: none;

            @include vp-1023 {
                display: flex;
            }
        }
    }

    @keyframes slideImg {
        0% {
            opacity: 0;
            transform: translateX(100vw);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &__container {
        display: grid;
        gap: 120px;

    }

    &__slogan {
        padding: 0;
        padding-left: 12px;
        margin: 0;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        font-variant: all-small-caps;
        color: $color-default-white;

        @include vp-1023 {
            font-size: 60px;
            padding-left: 14px;
        }

        @include vp-767 {
            font-size: 36px;
            line-height: 111%;
        }
    }

    &__card-list {
        position: relative;
        @include list-reset;
        counter-reset: my-counter;
        color: $color-default-white;
        display: grid;
        grid-template-columns: 24% 26% 26% 24%;
        width: 100%;

        @include vp-1023 {
            top: 338px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

        @include vp-767 {
            width: 270px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__card {
        position: relative;
        display: inline-flex;
        flex-direction: row-reverse;
        counter-increment: my-counter;
        padding-right: 85px;
        padding-left: 34px;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 16px;
        opacity: 0;
        transform: translateX(100vw);
        transition: transform 0.3s ease;

        @include vp-1023 {
            padding-left: 33px;
            padding-top: 31px;
            padding-bottom: 60px;
        }

        @include vp-767 {
            grid-column: 1/-1;
            grid-row: unset;
            padding-left: 24px;
            padding-top: 22px;
            padding-right: 19px;
            border-radius: 10px;
            transform: translateY(100vw);
            transition: transform 0.3s ease-in-out;
        }

        &.animate {
            opacity: 1;
            transform: translateX(0);

            @include vp-767 {
                transform: translateY(0);

            }
        }

        p {
            font-weight: 700;
            font-size: 22px;
            line-height: 109%;
            color: $color-default-blue;
            margin: 0;
            margin-right: auto;

            @include vp-1023 {
                font-size: 24px;
                line-height: 100%;
            }

            @include vp-767 {
                font-size: 18px;

            }
        }

        &:before {
            position: absolute;
            display: flex;
            content: counter(my-counter);
            color: $color-default-white;
            left: 300px;
            top: 40px;
            transform: translateY(-50%);
            z-index: 1;

            @include vp-1023 {
                font-size: 30px;
                left: 35px;
                top: 103px;
            }
        }

        &:first-child:before,
        &:last-child:before {
            left: 270px;

            @include vp-1023 {
                left: 35px;
                top: 103px;
            }
        }

        &:not(:first-child) {
            box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.25);

            @include vp-1023 {
                box-shadow: none;
            }
        }

        &:nth-child(1) {
            grid-column: 1/-1;
            grid-row: 1/2;
            background-color: $color-picton-blue;

            @include vp-1023 {
                grid-column: 1/-1;
                grid-row: 1/2;
                border-bottom-left-radius: 0;
            }

            @include vp-767 {
                grid-row: 1/-1;
                border-radius: 10px;
            }
        }

        &:nth-child(2) {
            grid-column: 2/-1;
            grid-row: 1/2;
            background-color: $color-jordy-blue;

            @include vp-1023 {
                grid-column: 2/3;
                grid-row: 1/2;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 2/5;
                border-radius: 10px;
            }
        }

        &:nth-child(3) {
            grid-column: 3/-1;
            grid-row: 1/2;
            background-color: $color-pale-cornflower-blue;

            @include vp-1023 {
                grid-column: 1/-1;
                grid-row: 2/3;
                border-top-left-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 3/5;
                border-radius: 10px;
            }
        }

        &:nth-child(4) {
            grid-column: 4/-1;
            grid-row: 1/2;
            background-color: $color-patterns-blue;

            @include vp-1023 {
                grid-column: 2/-1;
                grid-row: 2/3;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 4/5;
                border-radius: 10px;
            }
        }
    }
}