.hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 197px;
    padding-bottom: 85px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 auto;
    outline: 1px solid red;
    //parallax
    perspective: 1px;


    &__img-bg {
        // position: absolute;
        // height: 100%;
        // top: 0;
        // left: 0;
        z-index: -1;
        //parralax
        position: absolute;
        inset: 0;
        transform: translateZ(0);


        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    &__img {
        position: absolute;
        bottom: 0px;
        right: 60px;
        // transition: transform 1s ease-in-out;
        // animation: slideImg 1s ease forwards ;

        img {
            @include vp-1023 {
                width: 437px;
                height: auto;
            }
        }
    }

    // @keyframes slideImg {
    //     0% {
    //         opacity: 0;
    //         transform: translateX(100vw);
    //     }

    //     100% {
    //         opacity: 1;
    //         transform: translateX(0);
    //     }
    // }

    &__container {
        display: grid;
        gap: 129px;

    }

    &__slogan {
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        font-variant: all-small-caps;
        color: $color-default-white;

        @include vp-1023 {
            font-size: 60px;
        }

        @include vp-767 {
            font-size: 36px;
            line-height: 111%;
        }
    }

    &__card-list {
        position: relative;
        @include list-reset;
        color: $color-default-white;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;

        @include vp-1023 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

        @include vp-767 {
            width: 270px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-right: 55px;
        padding-left: 36px;
        padding-bottom: 30px;
        padding-top: 30px;
        border-radius: 30px;
        opacity: 0;
        transform: translateX(100vw);
        transition: transform 0.3s ease;

        @include vp-1023 {
            padding-left: 33px;
            padding-top: 31px;
            padding-bottom: 21px;
        }

        @include vp-767 {
            grid-column: 1/-1;
            grid-row: unset;
            padding-left: 24px;
            padding-top: 22px;
            padding-right: 19px;
            border-radius: 10px;
            transform: translateY(100vw);
            transition: transform 0.3s ease-in-out;


        }

        &.animate {
            opacity: 1;
            transform: translateX(0);

            @include vp-767 {
                transform: translateY(0);
  
            }
        }

        &:not(:first-child) {
            box-shadow: -4px 0 10px 0 rgba(0, 0, 0, 0.25);

            @include vp-1023 {
                box-shadow: none;
            }
        }

        &:nth-child(1) {
            grid-column: 1/-1;
            grid-row: 1/2;
            background-color: $color-picton-blue;

            @include vp-1023 {
                grid-column: 1/-1;
                grid-row: 1/2;
                border-bottom-left-radius: 0;
            }

            @include vp-767 {
                grid-row: 1/5;
                border-radius: 10px;
            }
        }

        &:nth-child(2) {
            grid-column: 2/-1;
            grid-row: 1/2;
            background-color: $color-jordy-blue;

            @include vp-1023 {
                grid-column: 2/3;
                grid-row: 1/2;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 2/5;
                border-radius: 10px;
            }
        }

        &:nth-child(3) {
            grid-column: 3/-1;
            grid-row: 1/2;
            background-color: $color-pale-cornflower-blue;

            @include vp-1023 {
                grid-column: 1/-1;
                grid-row: 2/3;
                border-top-left-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 3/5;
                border-radius: 10px;
            }
        }

        &:nth-child(4) {
            grid-column: 4/-1;
            grid-row: 1/2;
            background-color: $color-patterns-blue;

            @include vp-1023 {
                grid-column: 2/-1;
                grid-row: 2/3;
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }

            @include vp-767 {
                grid-column: 1/-1;
                grid-row: 4/5;
                border-radius: 10px;
            }
        }
    }

    &__card-wrapper {
        display: flex;
        min-width: 250px;
        max-width: 295px;
        gap: 40px;

        @include vp-1023 {
            flex-direction: column-reverse;
            gap: 12px;
        }

        @include vp-767 {
            min-width: unset;
            max-width: unset;
            width: 100%;
            flex-direction: row-reverse;
        }
    }

    &__card-wrapper p {
        font-weight: 700;
        font-size: 22px;
        line-height: 109%;
        color: $color-default-blue;
        margin: 0;

        @include vp-1023 {
            font-size: 24px;
        }

        @include vp-767 {
            font-size: 18px;
            line-height: 100%;
        }
    }

    &__card-wrapper span {
        display: inline-flex;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        color: $color-default-white;
        margin-left: auto;

        @include vp-1023 {
            font-size: 30px;
            margin: 0;
        }

        @include vp-767 {
            font-size: 18px;
            line-height: 100%;
            margin-left: auto;
        }
    }

}