.interested {
    position: relative;
    z-index: 5;
    padding-top: 150px;
    padding-bottom: 103px;
    background-color: $color-blue-zodiac;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &__container {
        color: $color-default-white;
        padding: 0 134px;
    }

    h2 {
        font-weight: 700;
        font-size: 95px;
        line-height: 100%;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        width: 52%;
        font-weight: 300;
        font-size: 28px;
        line-height: 111%;
        text-align: center;
        margin: 0 auto;

        &:last-of-type {
            width: 60%;
            letter-spacing: 0.01em;
        }

        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $color-pale-cornflower-blue;
            cursor: pointer;
        }
    }

    &__input-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content;
        margin-top: 47px;
        margin-bottom: 70px;

        input {
            border-color: transparent;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 15px 32px;
            // width: 100%;
            // height: 100%;
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin: 0;
            gap: 96px;
            padding-top: 30px;
            padding-left: 42px;
        }
    }

    &__contacts {
        margin-top: 42px;

        ul {
            @include list-reset;
            display: flex;
            justify-content: center;
            grid-template-columns: max-content max-content;
            gap: 107px;
            margin: 0 auto;
            padding-left: 35px;
        }

        a {
            display: flex;
            column-gap: 31px;
            align-items: center;

        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: $color-midnight-express;
        }

        h3 {
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            text-transform: uppercase;
            color: $color-default-white;
            margin: 0;
        }
    }
}