.interested {
    position: relative;
    z-index: 4;
    padding-top: 150px;
    padding-bottom: 103px;
    background-color: $color-blue-zodiac;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @include vp-1023 {
        padding-top: 136px;
        padding-bottom: 56px;
        margin-top: -50px;
    }

    @include vp-767 {
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    &__container {
        color: $color-default-white;
        padding: 0 134px;

        @include vp-1023 {
            padding: 0 24px;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 95px;
        line-height: 100%;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;

        @include vp-1023 {
            margin-bottom: 44px;
            font-size: 75px;
            line-height: 60%;
            font-variant: all-small-caps;
        }

        @include vp-767 {
            font-size: 24px;
            line-height: 100%;
            margin-bottom: 19px;
        }
    }

    p {
        width: 52%;
        font-weight: 300;
        font-size: 28px;
        line-height: 111%;
        text-align: center;
        margin: 0 auto;

        @include vp-1023 {
            width: 100%;
            font-size: 24px;
            line-height: 133%;
            text-align: center;
            margin-left: -10px;
        }

        @include vp-767 {
            font-size: 13px;
            line-height: 169%;
            text-align: center;
        }

        &:last-of-type {
            width: 60%;
            letter-spacing: 0.01em;

            @include vp-1023 {
                width: 100%;
                line-height: 125%;
                margin-left: 0;
            }

            @include vp-767 {
                font-size: 14px;
                line-height: 157%;
                letter-spacing: 0.01em;
                text-align: center;
            }
        }

        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $color-pale-cornflower-blue;
            transition: color 0.3s ease-in;
            cursor: pointer;

            &:hover {
                color: $color-picton-blue;
            }

            &:active {
                opacity: 0.3;
            }
        }
    }

    &__input-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr max-content;
        margin-top: 47px;
        margin-bottom: 70px;

        @include vp-1023 {
            margin-top: 70px;
            margin-bottom: 78px;
            padding: 0 53px;
        }

        @include vp-767 {
            position: relative;
            display: flex;
            padding: 0;
            margin: 29px 0;
        }

        input {
            border-color: transparent;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 15px 32px;

            @include vp-767 {
                width: 100%;
                border-radius: 20px;
                padding: 24px 80px 24px 25px;
            }
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin: 0;
            gap: 96px;
            padding-top: 30px;
            padding-left: 42px;

            @include vp-1023 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                gap: 0;
                padding: 0;
            }

            @include vp-767 {
                position: absolute;
                right: 0;
                border-radius: 20px;
            }

            span {
                @include vp-1023 {
                    display: none;
                }
            }
        }
    }

    &__contacts {
        margin-top: 42px;

        @include vp-1023 {
            margin-top: 26px;
        }

        ul {
            @include list-reset;
            display: flex;
            justify-content: center;
            grid-template-columns: max-content max-content;
            gap: 107px;
            margin: 0 auto;
            padding-left: 35px;

            @include vp-1023 {
                flex-direction: column;
                gap: 0;
                padding-left: 50px;
            }

            @include vp-767 {
                padding-left: unset;
                gap: 2px;
            }
        }

        a {
            display: flex;
            column-gap: 31px;
            align-items: center;
            color: $color-pale-cornflower-blue;
            transition: color 0.3s ease-in;

            @include vp-1023 {
                column-gap: 22px;
            }

            @include vp-767 {
                column-gap: 16px;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: $color-midnight-express;

            @include vp-1023 {
                width: 68px;
                height: 68px;
            }

            @include vp-767 {
                width: 45px;
                height: 45px;
            }

            svg {
                color: $color-pale-cornflower-blue;
                transition: color 0.3s ease-in;

                @include vp-1023 {
                    width: 32px;
                    height: 35px;
                }

                @include vp-767 {
                    width: 18px;
                    height: 45px;
                }
            }
        }

        h3 {
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            text-transform: uppercase;
            color: $color-patterns-blue;
            margin: 0;

            @include vp-767 {
                font-size: 16px;
                line-height: 137%;
            }
        }
    }

    &__contacts-link:hover h3 {
        color: $color-picton-blue;
    }

    &__contacts-link:hover span {
        svg {
            color: $color-picton-blue;
        }
    }

    &__contacts-link:active h3 {
        opacity: 0.3;
    }

    &__contacts-link:active span {
        opacity: 0.3;

        svg {
            opacity: 0.3;
        }
    }
}