.logo {
    position: relative;
    display: flex;
    width: 225px;
    height: min-content;

    img {
        @include vp-767 {
            display: none;
        }
    }

    svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);


        @include vp-767 {
            position: relative;
            top: 0;
            transform: none;
        }
    }

    &--light {
        @include vp-1023 {
            width: 320px;
        }

        svg {
            color: $color-default-white;
            left: 39%;

            @include vp-1023 {
                left: 36%;
                width: 106px;
                height: 17px;
            }

            @include vp-767 {
                left: 2px;
                top: 2px;
                width: 96px;
                height: 15px;
            }
        }
    }

    &--dark {
        svg {
            color: black;
            left: 31%;

            @include vp-1023 {
                width: 106px;
                height: 16px;
                left: 25%;
            }
        }
    }

}