.logo {
    position: relative;
    display: flex;
    width: 200px;
    height: min-content;

    img {
        @include vp-767 {
            display: none;
        }
    }

    svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include vp-767 {
            position: relative;
            top: 0;
            transform: none;
        }
    }
}