.logo {
    position: relative;
    display: flex;
    width: 225px;
    height: min-content;

    &--light {
        svg {
            color: $color-default-white;

            @include vp-1023 {
                width: 106px;
                height: 17px;
            }
        }
    }

    img {
        @include vp-767 {
            display: none;
        }
    }

    svg {
        position: absolute;
        left: 39%;
        top: 50%;
        transform: translateY(-50%);

        @include vp-767 {
            position: relative;
            top: 0;
            transform: none;
        }
    }

    &--dark svg {
        color: black;
        left: 31%;
    }

}