.logo {
    position: relative;
    display: flex;
    width: 225px;
    height: min-content;

    &--light svg {
        color: $color-default-white;

    }

    &--dark svg {
        color: black;
    }

    img {
        @include vp-767 {
            display: none;
        }
    }

    svg {
        position: absolute;
        left: 39%;
        top: 50%;
        transform: translateY(-50%);

        @include vp-767 {
            position: relative;
            top: 0;
            transform: none;
        }
    }
}