.map {
    margin-top: -120px;

    #map {
        width: 100%;
        height: 598px;
        border: none;
        cursor: pointer;

        @include vp-1023 {
            height: 666px;
        }
    }

    &__content {
        position: relative;
        top: 50px;
        z-index: 1;
        display: flex;
        column-gap: 108px;
        align-items: center;
        justify-content: flex-end;
        background-color: $color-jordy-blue;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-left: 30px;
        padding-right: 135px;
        padding-bottom: 56px;
        padding-top: 125px;
        margin: 0 auto;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
        z-index: 2;

        @include vp-1023 {
            padding: 118px 76px 84px 76px;
            flex-direction: column;
            row-gap: 44px;
        }

        @include vp-767 {
            padding: 118px 25px 33px 25px;
            border-bottom-left-radius: 32px;
            border-bottom-right-radius: 32px;
        }

        button {
            gap: 18px;
            padding-right: 16px;
            margin: 0;
            background-color: transparent;
            border: 3px solid $color-midnight-express;
            padding-top: 26px;
            padding-bottom: 24px;

            &:hover {
                background-color: $color-midnight-express;
                color: $color-default-white;
            }

            &:hover svg {
                color: $color-default-white;
            }

            span {
                display: block;

                @include vp-767 {
                    font-size: 18px;
                    line-height: 100%;
                }
            }

            svg {
                color: $color-midnight-express;
                ;
                margin-left: auto;
            }

            @include vp-1023 {
                width: 100%;
            }

            @include vp-767 {
                padding: 20px 12px;
                border-radius: 10px;
            }
        }
    }

    &__address {
        display: flex;
        gap: 31px;
        justify-content: center;
        align-items: center;
        color: $color-catalina-blue;

        @include vp-1023 {
            justify-content: flex-start;
            padding: 0;
            gap: 26px;
        }

        @include vp-767 {
            gap: 16px;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: $color-default-blue;

            @include vp-1023 {
                width: 68px;
                height: 68px;
            }

            @include vp-767 {
                width: 56px;
                height: 45px;
            }

            svg {
                @include vp-1023 {
                    width: 32px;
                    height: 32px;
                }

                @include vp-767 {
                    width: 21px;
                    height: 21px;
                }
            }
        }

        p {
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            margin: 0;
            text-transform: uppercase;

            @include vp-767 {
                font-size: 16px;
                line-height: 137%;
            }
        }
    }
}