.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  animation: showModal 0.6s ease forwards;
  z-index: 11;

  &.is-open {
    display: block;
    opacity: 1;
  }

  &__content {
    position: relative;
    min-width: 750px;
    border-radius: 30px;
    background-color: $color-default-white;
    box-shadow: 0 4px 22px 0 rgba(29, 46, 91, 0.18);
    padding-top: 54px;
    overflow: hidden;
    z-index: 30;

    @include vp-1023 {
      width: 100%;
      min-width: 700px;
    }

    @include vp-767 {
      min-width: 80vw;
      padding-top: 23px;
    }

    h3 {
      font-weight: 700;
      font-size: 45px;
      line-height: 100%;
      text-align: center;
      margin: 0;
      margin-bottom: 58px;
      font-variant: all-small-caps;
      color: $color-midnight-express;

      @include vp-767 {
        font-size: 26px;
        line-height: 173%;
        margin-bottom: 0;
      }
    }

    ul {
      @include list-reset;
      padding-left: 54px;
      padding-right: 40px;
      margin-bottom: 54px;

      @include vp-767 {
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 33px;
      }

      li {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding-top: 12px;
        padding-bottom: 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-collapse: collapse;

        @include vp-767 {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2px;
          justify-content: unset;
        }
      }

      h4 {
        margin: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 127%;

        @include vp-767 {
          font-size: 16px;
          line-height: 137%;
          gap: 2px;
          font-weight: 300;
        }


      }

      p {
        font-weight: 300;
        font-size: 22px;
        line-height: 127%;
        margin: 0;

        @include vp-767 {
          font-size: 16px;
          line-height: 137%;
          gap: 2px;
          font-weight: 300;
        }
      }
    }

    button {
      width: 100%;
      margin-top: auto;
      padding: 40px 44px;
      border: none;
      background-color: #f3f4f8;

      @include vp-767 {
        font-size: 16px;
        line-height: 150%;
        padding: 21px 44px;
      }

      &:hover {
        background-color: #EDEFF6;
      }

      &:active {
        background-color: #EDEFF6;
        color: #1D2E5B30
      }
    }
  }
}