.nav {
    width: 100%;

    @include vp-1023 {
        display: flex;
        align-items: center;
    }

    @include vp-767 {
        justify-content: flex-end;
    }

    &__button {
        display: none;

        @include vp-1023 {
            position: relative;
            display: flex;
            width: 25px;
            height: 25px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            z-index: 10;

            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 25px;
                height: 3px;
                top: calc(50%);
                transform: translateY(50%);
                left: 0;
                border-radius: 2px;
                background-color: $color-default-white;
                transition: background-color 0.3s ease;
            }

            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 25px;
                height: 3px;
                top: calc(50% - 4px);
                transform: translateY(-50%);
                left: 0;
                border-radius: 2px;
                background-color: $color-default-white;
                transition: background-color 0.3s ease;

            }

            &:hover {
                &::before,
                &::after {
                    background-color: $color-jordy-blue;
                }
            }
        }
    }

    &__container {
        
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        background-color: transparent;

        @include vp-1023 {
            transform: translateY(-100%);
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $color-default-white;
            transition: transform 0.5s ease-in, opacity 0.5s ease-in;
        }
    }

    .is-open &__container {
        transform: translateY(0);
        opacity: 1;

        @include vp-1023 {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 40px;
            z-index: 8;
        }

        @include vp-767 {
            padding-left: 25px;
            padding-right: 25px;
            padding-bottom: 28px;
            margin: 0 auto;
        }
    }

    .is-open &__button {

        @include vp-1023 {
            &::before {
                background-color: #cccccc;
                transform: rotate(45deg);
                width: 23px;
                height: 2px;
                top: 25%;
                transition: transform 0.3s ease-in, background-color 0.3s ease-in;
            }

            &::after {
                background-color: #cccccc;
                transform: rotate(-45deg);
                width: 23px;
                height: 2px;
                top: 25%;
                transition: transform 0.3s ease-in, background-color 0.3s ease-in;
            }
        }
    }

    &__site-list {

        @include vp-1023 {
            display: flex;
        }

        ul {
            @include list-reset;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 18px;
            padding-left: 105px;
            padding-top: 12px;

            @include vp-1023 {
                flex-direction: column;
                padding-left: 0;
                padding-top: 87px;
                gap: 4px;
            }

        }

        ul::before {
            position: absolute;
            content: "";
            display: block;
            width: 60px;
            height: 2px;
            top: 55%;
            transform: translateY(-50%);
            left: 0;
            background-color: $color-default-white;

            @include vp-1023 {
                display: none;
            }
        }

        a {
            position: relative;
            display: inline-block;
            font-weight: 500;
            font-size: 20px;
            line-height: 100%;
            text-transform: uppercase;
            color: $color-default-white;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;

            @include vp-1023 {
                color: $color-midnight-express;
            }
        }

        a span {
            display: inline-block;
            position: relative;
            transition: transform 0.3s ease 0s;

            @include vp-1023 {
                font-size: 30px;
                line-height: 100%;
            }
        }

        a span:before {
            content: attr(data-hover);
            font-weight: 700;
            position: absolute;
            top: 100%;
            transform: translate3d(0px, 0px, 0px);
        }

        a:hover span {
            transform: translateY(-100%);
            color: $color-jordy-blue;
        }

        a:active span {
            color: #4E91D1;
            opacity: 0.2;
        }
    }

    &__links {
        padding: 0 25px;
        margin: 0 auto;

        ul {
            display: none;

            @include vp-1023 {
                @include list-reset;
                display: flex;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
        }
    }
}