.profile {
    position: relative;
    z-index: 6;
    &__container {
        display: grid;
        grid-template-columns: 55% 45%;
        padding-top: 70px;
        padding-bottom: 65px;
        row-gap: 80px;

        h2 {
            grid-column: 1/-1;
            font-weight: 700;
            font-size: 95px;
            line-height: 47%;
            font-variant: all-small-caps;
            color: $color-midnight-express;
            margin: 0;
        }
    }

    &__advantages {
        button {
            display: flex;
            gap: 26px;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 70px;
                border-radius: 100%;
                background-color: #E2E5F2;
            }

            p {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                color: $color-blue-zodiac;
                margin: 0;
            }
        }
    }

    &__advantages-list {
        @include list-reset;
        counter-reset: my-counter;


        li {
            position: relative;
            font-weight: 400;
            font-size: 28px;
            line-height: 100%;
            counter-increment: my-counter;
            padding: 23px 0;
            border-top: 1px solid #e1e3e9;
            border-bottom: 1px solid #e1e3e9;
            border-spacing: 0;
            margin-left: 70px;
        }

        li:before {
            position: relative;
            content: counter(my-counter);
            color: $color-default-white;
            left: -52px;
            z-index: 1;
        }

        li:after {
            position: absolute;
            content: "";
            width: 72px;
            height: 70px;
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: $color-picton-blue;
            z-index: 0;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 46px;
        border-radius: 20px;
        background-color: $color-blue-zodiac;
        padding: 62px 47px 69px 49px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }


    &__price-text {
        display: grid;
        gap: 24px;
        justify-items: center;

        p {
            grid-column: 1/2;
            font-weight: 700;
            font-size: 41px;
            line-height: 68%;
            font-variant: all-small-caps;
            text-align: right;
            margin: 0;
            color: $color-default-white;
        }

        ul {
            @include list-reset;
            color: $color-default-white;
            display: grid;
            gap: 12px;
        }

        li {
            font-weight: 400;
            font-size: 28px;
            line-height: 100%;
        }
    }

}