.profile {
    position: relative;
    padding-top: 94px;
    padding-bottom: 65px;
    background-color: $color-default-white;
    z-index: 6;

    @include vp-1023 {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-bottom: 60px;
        padding-top: 30px;
    }

    @include vp-767 {
        padding-bottom: 25px;
    }

    &__container {
        display: grid;
        grid-template-columns: 55.5% 44.5%;


        @include vp-1023 {
            grid-template-columns: 71% 29%;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
        }

        h2 {
            grid-column: 1/-1;
            font-weight: 700;
            font-size: 95px;
            line-height: 100%;
            font-variant: all-small-caps;
            color: $color-midnight-express;
            margin: 0;
            text-align: center;
            margin-left: -38px;
            margin-bottom: 80px;

            @include vp-1023 {
                margin-bottom: 20px;
            }

            @include vp-767 {
                font-size: 37px;
                line-height: 76%;
            }
        }

        button {
            grid-column: 1/-1;
            margin-right: auto;
            margin-top: -8px;
            padding: 0;
            padding-left: 12px;
            display: flex;
            gap: 28px;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;

            @include vp-1023 {
                padding-left: 0;
                margin-top: -10px;
                gap: 22px;
            }

            @include vp-767 {
                padding-top: 27px;
                padding-bottom: 25px;
                margin: 0;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 70px;
                border-radius: 100%;
                background-color: #E2E5F2;

                @include vp-1023 {
                    width: 68px;
                    height: 68px;
                }

                @include vp-767 {
                    display: none;
                }
            }

            p {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                color: $color-blue-zodiac;
                margin: 0;

                @include vp-767 {
                    font-size: 16px;
                }
            }
        }
    }

    &__advantages {
        padding-top: 62px;
        padding-left: 111px;
        padding-bottom: 15px;

        @include vp-1023 {
            padding-top: 38px;
            padding-left: 90px;
        }

        @include vp-767 {
            padding-left: unset;
            padding-right: 60px;
        }
    }

    &__advantages-list {
        @include list-reset;
        counter-reset: my-counter;


        li {
            position: relative;
            display: inline-flex;
            counter-increment: my-counter;
            border-top: 1px solid #e1e3e9;
            border-bottom: 1px solid #e1e3e9;
            border-spacing: 0;
            display: block;
            font-weight: 400;
            padding: 23px 0;
            font-size: 28px;
            line-height: 30px;

            @include vp-1023 {
                padding-top: 18px;
                padding-bottom: 20px;
            }

            @include vp-767 {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
            }
        }

        li:before {
            position: absolute;
            display: flex;
            content: counter(my-counter);
            color: $color-default-white;
            left: -68px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            @include vp-1023 {
                left: -62px;
            }

            @include vp-767 {
                left: unset;
                right: -26px;
            }
        }

        li:after {
            position: absolute;
            content: "";
            width: 72px;
            height: 70px;
            left: -97px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            z-index: 0;

            @include vp-1023 {
                left: -90px;
                width: 68px;
                height: 68px;
            }

            @include vp-767 {
                left: unset;
                width: 36px;
                height: 36px;
                right: -40px;
            }
        }

        li:nth-child(3n+1):after {
            background-color: $color-picton-blue;
        }

        li:nth-child(3n+2):after {
            background-color: $color-jordy-blue;
        }

        li:nth-child(3n):after {
            background-color: $color-pale-cornflower-blue;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        background-color: $color-blue-zodiac;
        padding: 45px 48px 88px 84px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        @include vp-1023 {
            flex-direction: column;
            justify-content: unset;
            padding: 23px 27px 18px 23px;
            gap: 32px;
        }

        @include vp-767 {
            flex-direction: row;
            padding: 16px 18px;
        }

        img {
            position: relative;
            top: 18px;

            @include vp-1023 {
                width: 100px;
                height: 100px;
                top: 0;
            }

            @include vp-767 {
                width: 81px;
                height: 81px;
                margin-left: auto;
            }
        }
    }


    &__price-text {
        display: grid;
        gap: 24px;
        justify-items: center;

        @include vp-1023 {
            gap: 20px;
        }

        p {
            grid-column: 1/2;
            font-weight: 700;
            font-size: 41px;
            line-height: 68%;
            font-variant: all-small-caps;
            text-align: right;
            margin: 0;
            color: $color-default-white;

            @include vp-1023 {
                font-size: 28px;
                line-height: 100%;
                text-align: right;
            }

            @include vp-767 {
                font-size: 20px;
                line-height: 80%;
            }
        }

        ul {
            @include list-reset;
            color: $color-default-white;
            display: grid;
            gap: 12px;

            @include vp-1023 {
                gap: 10px;
            }


        }

        li {
            font-weight: 400;
            font-size: 28px;
            line-height: 100%;

            @include vp-1023 {
                font-size: 24px;
                line-height: 117%;
                text-align: right;
            }

            @include vp-767 {
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
            }
        }
    }

    &__modal {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 1s ease-in-out;
        animation: showModal 0.6s ease forwards;

        &.is-open {
            display: block;
            opacity: 1;
        }
    }

    &__rate {
        position: relative;
        min-width: 750px;
        border-radius: 30px;
        background-color: $color-default-white;
        box-shadow: 0 4px 22px 0 rgba(29, 46, 91, 0.18);
        padding-top: 54px;
        overflow: hidden;
        z-index: 30;

        @include vp-1023 {
            width: 100%;
            min-width: 700px;
        }

        @include vp-767 {
            min-width: 80vw;
            padding-top: 23px;
        }

        h3 {
            font-weight: 700;
            font-size: 45px;
            line-height: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 58px;
            font-variant: all-small-caps;
            color: $color-midnight-express;

            @include vp-767 {
                font-size: 26px;
                line-height: 173%;
                margin-bottom: 0;
            }
        }

        ul {
            @include list-reset;
            padding-left: 54px;
            padding-right: 40px;
            margin-bottom: 54px;
            @include vp-767 {
                padding-left: 25px;
                padding-right: 25px;
                margin-bottom: 33px;
            }

            li {
                display: flex;
                justify-content: space-between;
                gap: 40px;
                padding-top: 12px;
                padding-bottom: 15px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                border-collapse: collapse;

                @include vp-767 {
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 2px;
                    justify-content: unset;
                }
            }

            h4 {
                margin: 0;
                font-weight: 400;
                font-size: 22px;
                line-height: 127%;

                @include vp-767 {
                    font-size: 16px;
                    line-height: 137%;
                    gap: 2px;
                    font-weight: 300;
                }


            }

            p {
                font-weight: 300;
                font-size: 22px;
                line-height: 127%;
                margin: 0;

                @include vp-767 {
                    font-size: 16px;
                    line-height: 137%;
                    gap: 2px;
                    font-weight: 300;
                }
            }
        }

        button {
            width: 100%;
            margin-top: auto;
            padding: 40px 44px;
            background-color: #f3f4f8;

            @include vp-767 {
                font-size: 16px;
                line-height: 150%;
                padding: 21px 44px;
            }
        }
    }
}