.profile {
    position: relative;
    padding-top: 94px;
    padding-bottom: 65px;
    background-color: $color-default-white;
    z-index: 6;

    @include vp-1023 {
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        padding-bottom: 60px;
        padding-top: 30px;
    }

    @include vp-767 {
        padding-bottom: 2px;
        padding-top: 35px;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    &__container {
        display: grid;
        grid-template-columns: 55.5% 44.5%;


        @include vp-1023 {
            grid-template-columns: 71% 29%;
        }

        @include vp-767 {
            display: flex;
            flex-direction: column;
        }

        h2 {
            grid-column: 1/-1;
            font-weight: 700;
            font-size: 95px;
            line-height: 97%;
            font-variant: all-small-caps;
            color: $color-midnight-express;
            margin: 0;
            
            text-align: center;
            margin-left: -38px;
            margin-bottom: 80px;

            @include vp-1023 {
                margin-bottom: 24px;
                margin-left: 2px;
            }

            @include vp-767 {
                font-size: 37px;
                line-height: 76%;
            }
        }

        button {
            grid-column: 1/-1;
            margin-right: auto;
            margin-top: -8px;
            padding: 0;
            padding-left: 12px;
            display: flex;
            gap: 28px;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            transition: opacity 0.3s ease-in;
            cursor: pointer;

            @include vp-1023 {
                padding-left: 0;
                margin-top: -10px;
                gap: 22px;
            }

            @include vp-767 {
                padding-top: 27px;
                padding-bottom: 25px;
                margin: 0;
            }

            &:hover {
                span:last-of-type {
                    opacity: 0.7;
                }

                svg {
                    opacity: 0.7;
                }
            }

            &:active {
                opacity: 0.3;
            }

            span:first-of-type {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 72px;
                height: 70px;
                border-radius: 100%;
                background-color: #E2E5F2;

                @include vp-1023 {
                    width: 68px;
                    height: 68px;
                }

                @include vp-767 {
                    display: none;
                }
            }

            span:last-of-type {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                color: $color-blue-zodiac;
                margin: 0;

                @include vp-767 {
                    font-size: 16px;
                }
            }
        }
    }

    &__advantages {
        padding-top: 62px;
        padding-left: 111px;
        padding-bottom: 15px;

        @include vp-1023 {
            padding-top: 38px;
            padding-left: 90px;
        }

        @include vp-767 {
            padding-top: 6px;
            padding-left: unset;
            padding-right: 45px;
            padding-bottom: 36px;
        }
    }

    &__advantages-list {
        @include list-reset;
        counter-reset: my-counter;


        li {
            position: relative;
            display: inline-flex;
            counter-increment: my-counter;
            border-top: 1px solid #e1e3e9;
            border-bottom: 1px solid #e1e3e9;
            border-spacing: 0;
            display: block;
            font-weight: 400;
            padding: 23px 0;
            font-size: 28px;
            line-height: 30px;
            color: $color-charcoal;

            @include vp-1023 {
                padding-top: 18px;
                padding-bottom: 20px;
            }

            @include vp-767 {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                padding-top: 14px;
        padding-bottom: 14px;
            }
        }

        li:before {
            position: absolute;
            display: flex;
            content: counter(my-counter);
            color: $color-default-white;
            left: -68px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            @include vp-1023 {
                left: -62px;
            }

            @include vp-767 {
                left: unset;
                right: -26px;
            }
        }

        li:after {
            position: absolute;
            content: "";
            width: 72px;
            height: 70px;
            left: -97px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            z-index: 0;

            @include vp-1023 {
                left: -90px;
                width: 68px;
                height: 68px;
            }

            @include vp-767 {
                left: unset;
                width: 36px;
                height: 36px;
                right: -40px;
            }
        }

        li:nth-child(3n+1):after {
            background-color: $color-picton-blue;
        }

        li:nth-child(3n+2):after {
            background-color: $color-jordy-blue;
        }

        li:nth-child(3n):after {
            background-color: $color-pale-cornflower-blue;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        background-color: $color-blue-zodiac;
        padding: 45px 48px 88px 84px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        @include vp-1023 {
            flex-direction: column;
            justify-content: unset;
            padding: 23px 27px 18px 23px;
            gap: 32px;
        }

        @include vp-767 {
            flex-direction: row;
            padding: 16px 18px;
            margin: 0 auto;
            gap: 46px;
        }

        img {
            position: relative;
            top: 18px;

            @include vp-1023 {
                width: 100px;
                height: 100px;
                top: 0;
            }

            @include vp-767 {
                width: 81px;
                height: 81px;
                margin-left: auto;
            }
        }
    }


    &__price-text {
        display: grid;
        gap: 24px;
        justify-items: center;

        @include vp-1023 {
            gap: 20px;
        }

        p {
            grid-column: 1/2;
            font-weight: 700;
            font-size: 41px;
            line-height: 68%;
            font-variant: all-small-caps;
            text-align: right;
            margin: 0;
            color: $color-default-white;

            @include vp-1023 {
                font-size: 28px;
                line-height: 100%;
                text-align: right;
            }

            @include vp-767 {
                font-size: 20px;
                line-height: 80%;
            }
        }

        ul {
            @include list-reset;
            color: $color-default-white;
            display: grid;
            gap: 12px;

            @include vp-1023 {
                gap: 10px;
            }

            @include vp-767 {
                margin-right: auto;
                margin-top: 6px;
                gap: 0;
            }


        }

        li {
            font-weight: 400;
            font-size: 28px;
            line-height: 100%;

            @include vp-1023 {
                font-size: 24px;
                line-height: 117%;
                text-align: right;
            }

            @include vp-767 {
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
            }
        }
    }
}