.socials {
    margin-left: auto;

    @include vp-1023 {
        margin-left: 0;
        margin-top: 116px;
    }

    ul {
        @include list-reset;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;

        @include vp-1023 {
            flex-direction: column;
            gap: 2px;
        }
    }


    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $color-jordy-blue;
        transition: background-color 0.5s ease;

        @include vp-1023 {
            width: 45px;
            height: 45px;
        }
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        @include vp-1023 {
            gap: 16px;
            justify-content: flex-start;
        }

        &:hover span{
            background-color: $color-curious-blue;
        }

        &:active span{
            svg {
                opacity: 0.3;
            }
        }
    }

    p {
        display: none;

        @include vp-1023 {
            display: block;
            font-size: 16px;
            line-height: 112%;
            text-transform: uppercase;
        }
    }
}