@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  src:
    url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  src:
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  src:
    url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Roboto";
  src:
    url("../fonts/roboto-extralight.woff2") format("woff2"),
    url("../fonts/roboto-extralight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";
  src:
    url("../fonts/roboto-condensed-light.woff2") format("woff2"),
    url("../fonts/roboto-condensed-light.woff") format("woff");
  font-display: swap;
}

