mixin footer(footerMods)
  footer.footer(class=footerMods)
    .footer__container.container
      .logo.logo--dark.footer__logo
          +picture("content","logo-full-bg","png", 187, 50, "Логотип")
          +icon("logo-mobile", 128, 20)
      ul.footer__links 
        li
          a(href="#")
            +icon("icon-telegram",32,32)
        li
          a(href="#")
            +icon("icon-vkontakte",32,32)
        li
          a(href="#")
            +icon("icon-youtube",32,32)
        
