mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "catalog.html",
        text: "Страница 2"
      },
    ]

  header.header(class=headerMods)
    .header__container.container
      if(currentUrl === "index.html")
        .logo.logo--light.header__logo
          +picture("content","logo-full-bg","png", 187, 50, "Логотип")
          +icon("logo-mobile", 128, 20)
      else
        .logo.logo--light.header__logo
          a(href="index.html")
            +picture("content","logo-full-bg","png", 187, 50, "Логотип")
            +icon("logo-mobile", 128, 20)

      nav.nav.header__nav
        button(type="button" aria-label="Открыть меню").nav__button
          span
          span
        .nav__container
          .nav__site-list
            ul 
              li
                a(href="#") 
                  span(data-hover="О сервисе") О сервисе
              li
                a(href="#") 
                  span(data-hover="Направления") Направления
              li
                a(href="catalog.html") 
                  span(data-hover="Попутчики") Попутчики

          .socials
            ul 
              li
                a(href="tel:+78005558628" aria-label="Позвонить")
                  span
                    +icon("icon-call", 18, 18)
                  p 8 800 555-86-28
              li
                a(href="mailto:mail@htmlacademy.ru" aria-label="Написать письмо")
                  span 
                    +icon("icon-mail", 18, 18)
                  p mail@htmlacademy.ru
          .nav__links 
            ul
              li
                a(href="#")
                  +icon("icon-telegram",23,23)
              li
                a(href="#")
                  +icon("icon-vkontakte",32,32)
              li
                a(href="#")
                  +icon("icon-youtube",23,23)
