mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "catalog.html",
        text: "Страница 2"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        .logo
          +picture("content","logo-full-bg","png", 187, 50, "Логотип")
          +icon("logo-mobile", 128, 20)
      else
        .logo
          a(href="index.html")
            +picture("content","logo-full-bg","png", 187, 50, "Логотип")
            +icon("logo-mobile", 128, 20)

      nav.nav.nav--closed
        button(type="button" aria-label="Открыть меню")
          span
          span
        .nav__container
          .nav__site-list
            ul 
              li
                a(href="#") 
                  span(data-hover="О сервисе") О сервисе
              li
                a(href="#") 
                  span(data-hover="Направления") Направления
              li
                a(href="catalog.html") 
                  span(data-hover="Попутчики") Попутчики

          .socials
            ul 
              li
                a(href="tel:+78005558628" aria-label="Позвонить")
                  +icon("icon-call", 18, 18)
                span 8 800 555-86-28
              li
                a(href="mailto:mail@htmlacademy.ru" aria-label="Написать письмо")
                  +icon("icon-mail", 18, 18)
                span mail@htmlacademy.ru
