mixin modal
  .modal
    .modal__content 
      h3 Бизнес-тарифы
      ul 
        li 
          h4 Реклама у блоггера
          p 300 000 руб./пост
        li 
          h4 Накрутка подписчиков
          p от 1 руб./шт.
        li 
          h4 Лайки от ботов
          p от 20 коп./лайк
        li 
          h4 Ваш продакт-плейсмент 
          p Индивидуально
      button(type="button") Закрыть окно
